<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>分类查看</title>
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css" rel="stylesheet">
  <link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet">
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css" rel="stylesheet">
  <link href="${gateway}/src/css/pt-main.css" rel="stylesheet">

  <script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
  <script src="${gateway}/libs/layer/layer.js"></script>
  <script src="${gateway}/src/js/main.js"></script>
  <script src="${gateway}/src/js/train.common.js"></script>

<style>
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.value-div{
  border-bottom:1px solid #eee;
  padding-left:10px;
}
.key-label{
  text-align:right;
}
</style>
</head>

<body>
  <br>
  <br>
  <div class="container" >
    <div class="row clearfix">
      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
        <div class="form-group">
          <table class="table table-bordered">
            <tr>
              <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="background-color: #F0F0F0">&emsp;名&emsp;称：</td>
              <td class="col-lg-10 col-md-10 col-sm-10 col-xs-10" colspan="3"><span id="cateName"></span></td>
            </tr>
            <tr>
              <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="background-color: #F0F0F0">&emsp;排&emsp;序：</td>
              <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><span id="sort"></span></td>
              <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="background-color: #F0F0F0">&emsp;状&emsp;态：</td>
              <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><span id="valid"></span></td>
            </tr>
            <tr>
              <td style="width: 151px; background-color: #F0F0F0">&emsp;创建人：</td>
              <td><span id="createName"></span></td>
              <td style="width: 151px; background-color: #F0F0F0">创建时间：</td>
              <td><span id="createDate"></span></td>
            </tr>
            <tr>
              <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="background-color: #F0F0F0">&emsp;说&emsp;明：</td>
              <td class="col-lg-10 col-md-10 col-sm-10 col-xs-10" colspan="3" style="text-align: left"><span id="remarks" style="text-align: left"></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</body>
<script>
//若是修改，填充页面
var id=getUrlParam("id");
if (id&&id!="undefined") {
  $.ajax({
    url : '${gateway}/cate/get',
    data : {"id": id},
    cache : false,//false是不缓存，true为缓存
    async : true,//true为异步，false为同步
    success : function(result) {
      if (result.returnCode=='00') {
        var cate=result.data;
        $("#cateName").html(cate.nodeName);
        $("#upName").html(cate.pathName);
        $("#sort").html(cate.order);
        if (cate.isvalid==1) {
          $("#valid").html("启用").addClass();
        } else {
          $("#valid").html("停用").addClass();
        }
        $("#createName").html(cate.createName);
        $("#createDate").html(cate.createDate);
        $("#remarks").html(cate.remarks);
      }
    },
    error : function() {
    }
  });
}
</script>
</html>