<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>input</title>
  <!-- 1 bootstrap基础css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" >
  <!-- 2 table表格css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css" rel="stylesheet" >
  <!-- 3 treeview树css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css" rel="stylesheet" >
  <!-- 4 datetimepicker时间选择css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" >
  <!-- 5 select选择框css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css" rel="stylesheet" >
  <!-- 6 fileinput上传文件css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css" rel="stylesheet" >
  <!-- 7 icheck单选+多选css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css" rel="stylesheet">
  <!-- 8 Validator验证css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css" rel="stylesheet" >
  <!-- 9 layer弹框css -->
  <link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet" >
  <!-- 10 引入字体css -->
  <link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css" rel="stylesheet">
  <!-- 11 页面样式css -->
  <link href="${gateway}/src/css/pt-main.css" rel="stylesheet" >

  <!-- 优先引入jquery1.12.4版本 -->
  <script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
  <!-- 1 bootstrap基础js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <!-- 2 table表格js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
  <!-- 2 table列表数据js 可删除？ -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
  <!-- 3 treeview树js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
  <!-- 4 datetimepicker时间选择js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
  <!-- 5 select选择框js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
  <!-- 6 fileinput上传文件js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
  <!-- 6 fileinput中文包js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
  <!-- 7 icheck单选+多选js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
  <!-- 8 Validator验证js -->
  <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
  <!-- 9 layer弹框js -->
  <script src="${gateway}/libs/layer/layer.js"></script>
  <!-- 11 页面js -->
  <script src="${gateway}/src/js/main.js"></script>
</head>
<style>
.btn-tj:hover {
  background-color:#eeeeee;
}
.btn-tj {
  background-color:#eeeeee;
}
</style>
<body>
<br>
<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
      <form class="form-horizontal pt-form-full" role="form" id="mainForm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " for="title"><span> ※ </span>分类名称</label>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <input type="text" class="form-control" name="name" id="name" />
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="title"><span> ※ </span>上级分类</label>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <div class="input-group">
                <input type="text" class="form-control" name="upName" id="upName" style="border-right:0px;" readonly="readonly"/>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle btn-tj" data-toggle="dropdown" style="border-bottom-left-radius:0px;border-top-left-radius:0px; border-left:0px;">
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu pull-right" style="width:300px;height:260px;overflow-y:auto;overflow-x:hidden;" data-stopPropagation="true">
                    <div id="cate-tree"></div>
                  </div>
                </div>
                <input type="hidden" class="form-control" name="parentId" id="pareintId" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="title"><span> ※ </span>分类排序</label>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <input type="text" class="form-control" name="sort" id="sort" />
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="title"><span> ※ </span>是否有效</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <label class="radio-inline">
                <input type="radio" name="isvalid" value="1" checked>生效
              </label>
	          <label class="radio-inline">
	            <input type="radio" name="isvalid" value="0">失效
	          </label>
	        </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group">
            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="remarks"><span> &emsp; </span>分类说明</label>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <textarea id="remarks" class="form-control" name="remarks" style="min-height:108px;max-width:830px;"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group pt-btn-submit-layer">
          <button type="submit" class="btn w160 btn-lg btn-default btn-primary">保存</button>
          <button type="button" class="btn w160 btn-lg btn-default" onclick="closeMy()">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<script>
$(function () {
  //icheck 单选多选
  $('input').iCheck({
    radioClass : 'iradio_square-blue',
    increaseArea : '20%' // optional
  });     

  $(".dropdown-menu").on('click', function (e) {
    e.stopPropagation();
  });

  //初始化选择树
  $.ajax({
    type : "post",
    url: '${gateway}/train/getTree/ptTree',
    dataType : "json",
    success : function(result) {
      if (result.returnCode=='00') {
        var tree=[];
        tree.push(result.data.tree);
        $('#cate-tree').treeview({
          data : tree, // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      } else {
        $('#cate-tree').treeview({
          data : [{text: '分类根节点', id: '0', pathName: '分类根节点'}], // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      }
    },
    error : function() {
      $('#cate-tree').treeview({
        data : [{text: '分类根节点', id: '0', pathName: '分类根节点'}], // 数据源
        showCheckbox : true, //是否显示复选框
        multiSelect : false, //多选
        onNodeChecked : function(event, data) {
          selectTreeNode(data);
        }
      });
    }
  });

  //检查输入项
  $('form').on("success.form.bv", function(e) {
    var formData = $('#mainForm').serialize();
    formData = decodeURIComponent(formData, true);
    console.log(formData);
    $.ajax({
      url : '${gateway}/cate/insert',
      data : formData,
      cache : false,//false是不缓存，true为缓存
      async : true,//true为异步，false为同步
      success : function(result) {
        if (result.returnCode != '00') {
          return false;
        } else {
          //刷新列表
          parent.refresh();
          closeMy();
        }
      },
      error : function() {
      }
    });
    return false;
  });

  $('form').bootstrapValidator({
    message : 'This value is not valid',
    feedbackIcons : {
      valid : 'glyphicon glyphicon-ok',
      invalid : 'glyphicon glyphicon-remove',
      validating : 'glyphicon glyphicon-refresh'
    },
    fields : {
      name : {
        message : '分类名称验证失效',
        validators : {
          notEmpty : {
            message : '分类名称不能为空'
          }
        }
      },
      upName : {
        message : '上级分类验证失效',
        validators : {
          notEmpty : {
            message : '必须选择上级分类'
          }
        }
      },
      sort : {
        message : '分类排序验证失效',
        validators : {
          notEmpty : {
            message : '必须录入排序号'
          },
          regexp : {
            regexp : "^[0-9][0-9]*$",
            message : '排序号必须为自然数'
          }
        }
      }
    }
  });

  // 时间选择
  $('.datetimepicker').datetimepicker({
    language : 'zh', // 语言选择
    format : 'yyyy-mm-dd hh:ii:ss', // 选择格式
    todayBtn : true,
    autoclose : true
  });
});

function selectTreeNode(treeNodeData) {
  $("input[name='upName']").val(treeNodeData.text);
  $("input[name='parentId']").val(treeNodeData.id);
  $('#cate-tree').treeview('uncheckAll', { silent: true });
  $('#cate-tree').treeview('checkNode', [treeNodeData.nodeId, { silent: true }]);
  window.setTimeout(function(){/*
    $(".dropdown-menu").dropdown('toggle');
    $(".dropdown-menu").attr("data-stopPropagation","true");
    $(".dropdown-menu").on('click', function (e) {
      e.stopPropagation();
    });*/
  }, 500);
}

function closeMy() {
  var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
  parent.layer.close(index); //再执行关闭
}
/**
   function submitForm() {
   $("#saveBtn").attr("disabled", "disabled");
   var validatorObj=$('#mainForm').data("bootstrapValidator");
   validatorObj.validate();
   if (validatorObj.isValid()) {//ajax提交
   var formData=$('#mainForm').serialize();
   formData=decodeURIComponent(formData,true);
   console.log(formData);
   $.ajax({
   url:'/cate/insert',
   data:formData,
   cache:false,//false是不缓存，true为缓存
   async:true,//true为异步，false为同步
   success:function(result){
   //请求成功时
   },
   error:function(){
   }
   });
   } else $("#saveBtn").removeattr("disabled");

   }
   */
</script>
</body>
</html>