<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>列表页</title>
<!-- 1 bootstrap基础css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css"
  rel="stylesheet">
<!-- 2 table表格css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css"
  rel="stylesheet">
<!-- 3 treeview树css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css"
  rel="stylesheet">
<!-- 4 datetimepicker时间选择css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css"
  rel="stylesheet">
<!-- 5 select选择框css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css"
  rel="stylesheet">
<!-- 6 fileinput上传文件css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css"
  rel="stylesheet">
<!-- 7 icheck单选+多选css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css"
  rel="stylesheet">
<!-- 8 Validator验证css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css"
  rel="stylesheet">
<!-- 10 引入字体css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css"
  rel="stylesheet">
<!-- 11 页面样式css -->
<link href="${gateway}/src/css/pt-main.css" rel="stylesheet">

<!-- 优先引入jquery1.12.4版本 -->
<script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
<!-- 1 bootstrap基础js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- 2 table表格js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<!-- 3 table列表数据js simple-table -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
<!-- 4 treeview树js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
<!-- 5 datetimepicker时间选择js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<!-- 6 select选择框js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
<!-- 7 fileinput上传文件js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
<!-- 8 fileinput中文包js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
<!-- 9 icheck单选+多选js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
<!-- 10 Validator验证js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<!-- 11 layer弹框js -->
<script src="${gateway}/libs/layer/layer.js"></script>
<!-- 9 layer弹框css -->
<link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet">
<!-- 12 页面js -->
<script src="${gateway}/src/js/main.js"></script>

<style>
.datetimepicker-dropdown-bottom-right {
  margin-top: 2px;
}
</style>
</head>

<body>
  <div class="pt-page">
    <div class="pt-root-container">
      <!--主视口 -->
      <div class="pt-view pt-open" style="padding-left: 0px;">
        <!--带横线标题-->
        <div class="pt-bread">
          <h3>分类管理</h3>
          <!-- 添加展开按钮 -->
          <button type="button" id="ptsearchfilter" class="btn btn-primary pt-zkbtn">展开</button>
        </div>
        <div class="pt-main pt-padding">
          <!--搜索条-->
          <div class="pt-section-search">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
                <form class="form-inline">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="cataName">名称</label>
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="cateName" placeholder="名称">
                      </div>
                    </div>
                  </div>
                  <!--隐藏部分包裹 -->
                  <div class="hiddenorshow pt-search-filter">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="valid">状态</label>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select id="valid" name="valid" multiple autocomplete="off" class="selectpicker" data-actions-box="true"  data-live-search="true" title="请选则状态">
                          <option value="1">启用</option>
                          <option value="0">停用</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="createName" style="text-align:right;padding-left:0px;">创建人</label>
                      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" id="createName" placeholder="创建人姓名">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="createTime">创建时间</label>
                      <div id="date1" class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="begin1" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height:40px"><i class="icon-th"></i></span>
                      </div>
                      <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:center;padding-left:0px;">~</label>
                      <div id="date2" class="date col-lg-5 col-md-5 col-sm-5 col-xs-5" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="begin2" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height: 40px"><i class="icon-th"></i></span>
                      </div>
                      </div>
                    </div>

                  </div>
                  <!-- 示例搜索按钮 -->
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">
                      <button type="button" class="btn btn-default btn-primary w120" onclick="search()">搜索</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="column pt-btn-line">
                <button type="button" class="btn w120 btn-default btn-primary" onclick='editItem()'>新增</button>
              </div>
            </div>
          </div>
          <!--内容区容器-->
          <div class="pt-main">
            <!--bootstrap 表格-->
            <div class="row">
              <div class="col-sm-12">
                <div class="table-wrap">
                  <table id="tb_departments"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--主视口 结束-->
    </div>
  </div>

<script src="${gateway}/src/js/pt-tree.js"></script>
<script>
$(function() {
  $(".dropdown-menu").on('click', function (e) {
    e.stopPropagation();
  });
  //时间选择
  $('.datetimepicker').datetimepicker({
    language: 'zh',
    format: 'yyyy-mm-dd',
    minView: "month",
    pickDate: true,
    pickTime: false,
    todayBtn: true,
    autoclose: true
  });

  //搜索扩展
  $("#ptsearchfilter").click(function() {
    $(this).text($(".hiddenorshow").is(":hidden") ? "收起" : "展开");
    $(".hiddenorshow").toggleClass('pt-search-filter');
  });

  //初始化选择树
  $.ajax({
    type : "post",
    url : '${gateway}/train/getTree/ptTree',
    data: {type:1},
    dataType : "json",
    success : function(result) {
      if (result.returnCode == '00') {
        var tree = [];
        tree.push(result.data.tree);
        result.data.tree.text = "全部";
        $('#cate-tree').treeview({
          data : tree, // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      } else {
        $('#cate-tree').treeview({
          data : [ {
            text : '全部',
            id : '0',
            pathName : '全部'
          } ], // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      }
    },
    error : function() {
      $('#cate-tree').treeview({
        data : [ {
          text : '全部',
          id : '0',
          pathName : '全部'
        } ], // 数据源
        showCheckbox : true, //是否显示复选框
        multiSelect : false, //多选
        onNodeChecked : function(event, data) {
          selectTreeNode(data);
        }
      });
    }
  });
});

//搜索
function search() {
  $("#tb_departments").bootstrapTable('refresh');
}

// 操作模版调用的方法
function changeValid(e, n, pn, type) {
  if (type==1) {
    ajaxChangeValid(e, type);
  } else {
    var nn=(pn=='根')?n:pn+"-"+n;
    var ty="停用";
    if (type==2) ty="删除";
    if (type==2) {
      layer.confirm('要'+ty+'分类"'+nn+'"吗？', {btn : [ '确定', '取消' ]},
        function(index) {
          layer.close(index);
          ajaxChangeValid(e, type);
        }
      );
    } else {
      ajaxChangeValid(e, type);
    }
  }
}

function ajaxChangeValid(id ,valid) {
  $.ajax({
    type : "post",
    url : '${gateway}/cate/changeValid',
    data: {"id":id, "valid":valid},
    dataType : "json",
    success : function(result) {
      if (result.returnCode == '00') {
        layer.msg((valid==1?"启用":(valid==2?"删除":"停用"))+"成功!");
        refresh();
      } else {
        layer.msg(result.messageInfo);
      }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) { //失败回调函数
      var m="系统错误：\nstatu=" + XMLHttpRequest.status + "\nreadyState=" + XMLHttpRequest.readyState + "\ntext=" + textStatus + "\nerrThrown=" + errorThrown;
      layer.msg(m);
    }
  });
}

function editItem(e, type) {
  var title = '新增分类';
  if (type == 2) title = '修改分类';
  top.layer.open({
    type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
    title : '<span class="text-color">' + title + '</span>',//请修改span中间的内容
    shadeClose : false,//开启阴影关闭
    closeBtn : 1, //不显示关闭按钮
    shade : 0.6,
    maxmin : false,//开启最大化最小化按钮
    area : [ '55%', '70%' ],//此处可以改为100%，该数值按UI图比例算出
    content : '${gateway}/cate/edit?id='+e//如果不想出现滚动条['content.html', 'no']
  });
}

function lookItem(e) {
  top.layer.open({
    type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
    title : '<span class="text-color">分类详情</span>',//请修改span中间的内容
    shadeClose : false,//开启阴影关闭
    closeBtn : 1, //不显示关闭按钮
    shade : 0.6,
    maxmin : false,//开启最大化最小化按钮
    area : [ '60%', '50%' ],//此处可以改为100%，该数值按UI图比例算出
    content : '${gateway}/cate/view?id='+e//如果不想出现滚动条['content.html', 'no']
  });
}

function refresh(msg) {
  if (msg) layer.msg(msg);
  $("#tb_departments").bootstrapTable('refresh');
}

TableInit(queryParams).Init('${gateway}/cate/getPageData', [ {
  field : 'name',
  title : '名称',
  sortable : false
/*}, {
  field : 'parentName',
  title : '上级分类',
  align: 'left',
  sortable : false,
  formatter: formatParent*/
}, {
  field : 'sort',
  title : '排序',
  sortable : false
}, {
  field : 'valid',
  title : '状态',
  sortable : false,
  formatter: formatValid
}, {
  field : 'createName',
  title : '创建人',
  sortable : false
}, {
  field : 'createDate',
  title : '创建时间',
  sortable : false
}, {
  field : 'id',
  title : '操作',
  formatter : operateFormatter
}]);
function queryParams(params) {
  var selectedValues = [];
  var count=$("#valid option").length;
  for(var i=0;i<count;i++){
    if ($("#valid").get(0).options[i].selected) {
      selectedValues.push($("#valid").get(0).options[i].value);
    }
  }
  var data={
    //组织其他参数
    keyword: $("#keyword").val(),
    cateName: $("#cateName").val(),
    parentId: $("#parentId").val(),
    createName: $("#createName").val(),
    valid:selectedValues.join(","),
    date1: $("#date1").find("input").val(),
    date2: $("#date2").find("input").val(),
    // 使用page size分页
    limit : params.limit, //页面大小
    offset : params.offset //页码
  };
  return data;
}

function formatValid(value) {
  if (value==0) {
    return '<span class="pt-warn">停用</span>'
  } else
  if (value==1) {
    return '<span class="pt-success">启用</span>'
  }
  return value;
}

function formatParent(value) {
  return '<span style="padding-left:15x;">'+value+'</span>'
}

// 2.返回操作模版[按钮颜色暂不确定]
function operateFormatter(value, row, index) {
  var btnArray=[];
  btnArray.push('<button type="button" class="RoleOflook btn btn-xs btn-default btn-link" onclick="lookItem(\''+value+ '\')">详情</button>');
  if (row.valid==0) {//可以修改
    btnArray.push('<button type="button" class="RoleOfedit btn btn-xs btn-default btn-link" onclick="editItem(\''+value+ '\', 2)">修改</button>');
    btnArray.push('<button type="button" class="RoleOfdelete btn btn-xs btn-default btn-link-red pt-success" onclick="changeValid(\''+ value + '\', \''+row.name+'\',\''+row.parentName+'\', 1)">启用</button>');
    btnArray.push('<button type="button" class="RoleOfdelete btn btn-xs btn-default btn-link-red" onclick="changeValid(\''+ value + '\', \''+row.name+'\',\''+row.parentName+'\', 2)">删除</button>');
  } else 
  if (row.valid==1) {
    btnArray.push('<button type="button" class="RoleOfdelete btn btn-xs btn-default btn-link-red" onclick="changeValid(\''+ value + '\', \''+row.name+'\',\''+row.parentName+'\', 0)">停用</button>');
  }
  return btnArray.join('');
}

function selectTreeNode(treeNodeData) {
  console.log(treeNodeData);
  $("input[name='upName']").val(treeNodeData.pathName);
  $("input[name='parentId']").val(treeNodeData.id);
  $('#cate-tree').treeview('uncheckAll', { silent: true });
  $('#cate-tree').treeview('checkNode', [treeNodeData.nodeId, { silent: true }]);
}

</script>
</body>
</html>