<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <!-- 1 bootstrap基础css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" >

    <link href="./libs/layer/layer-new.css" rel="stylesheet" >

    <link href="./libs/bootstrap-3.3.7-dist/fonts/iconfont.css" rel="stylesheet">

    <link href="./src/css/pt-main.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/table.css">

    <script src="./libs/jquery/jquery-1.12.4.js"></script>

    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>

    <script src="./libs/layer/layer.js"></script>

    <script src="./src/js/main.js"></script>
<style>
    iframe{
        width: 100%;
        height: 100%;
    }
</style>

</head>
<body>
<div class="pt-page">
    <!-- 头部条 -->
    <div class="pt-topbar">
        <!--左侧系统名称-->
        <div class="pt-fl pt-system-info" >
            <div class="pt-logo pt-fl"><img src="./src/images/LOGO@2x.png" alt=""></div>
            <div class="pt-slogen pt-fr">天津市港口统一收费服务平台 -<strong>培训管理</strong></div>
        </div>
    </div>
    <!-- 头部条  结束 -->

    <!--页面中间主体部分-->
    <div class="pt-root-container">
        <!--左侧菜单-->
        <div class="pt-nav pt-open">
            <!--头部点击条-->
            <div class="pt-bar" id="pt-bar"><img src="./src/images/Group15.png" alt=""></div>
            <!--菜单列表-->
            <div class="pt-menu">
                <ul>
                    <!--cell-->
                    <li class="pt-menu-list pt-menu-selected">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="#">学习资料</a></h3>
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="javascript:void(0);" onclick="toMNSC()">模拟实操</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="javascript:void(0);" onclick="toKJ()">学习课件</a></h3>
                            </li>
                        </ul>
                    </li>
                    <!--cell-->
                    <li class="pt-menu-list">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="#">题库管理</a></h3>
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">试卷管理</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="javascript:void(0);" onclick="toST()">试题管理</a></h3>
                            </li>
                        </ul>
                    </li>
                    <!--cell-->
                    <li class="pt-menu-list " >
                        <!--一级菜单-->
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="javascript:;">学员管理</a></h3>
                        <!--二级菜单列表-->
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">学员学习</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child pt-menu-selected">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">学员考试</a></h3>
                            </li>
                        </ul>
                    </li>
                    <!--cell-->
                    <li class="pt-menu-list">
                        <!--一级菜单-->
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="javascript:;">基础管理</a></h3>
                        <!--二级菜单列表-->
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="javascript:void(0);" onclick="toCATE()">分类管理</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="javascript:void(0);" onclick="toDICT()">字典管理</a></h3>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--左侧菜单 结束-->

        <!--主视口 -->
        <div class="pt-view pt-open" style="overflow-y:hidden;overflow-x:auto;padding-bottom:0px;">
            <iframe src="" frameborder="0" id="mainIframe"></iframe>
        </div>
        <!--主视口 结束-->
    </div>
    <!--公共底部-->
    <div class="pt-footer">
        <div class="pt-p">版权归属 @ 天津市港口统一管理中心 CopyRight 2018 技术支持电话：400-888-5678</div>
    </div>
</div>
<script>
$(document).ready(function() {
  toMNSC();
  initMenu();
});

function initMenu() {
  $.ajax({
    type: 'post',
    url: "./user/getUserMenu",
    dataType:'json',
    success: function (data) { //成功后的回调函数
      var returnCode= data.returnCode;
      //$(".pt-menu ul").html("");
      var allHtml="";
      if (returnCode=="00") {
        for (var i=0; i<data.data.length; i++) {
          var menu1Html='<li class="pt-menu-list'+((i==0)?' pt-menu-selected':'')+'"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>'
                       +'<h3 class="pt-menu-title"><a href="#">'+data.data[i].resourcesName+'</a></h3>';
          if (data.data[i].children!=null&&data.data[i].children.length>0) {
            menu1Html+='<ul class="pt-second-menu">';
            for (var j=0; j<data.data[i].children.length; j++) {
              var oneMenu=data.data[i].children[j];
              menu1Html+='<li class="pt-menu-child"><span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>'
                        +'<h3 class="pt-menu-title"><a href="javascript:void(0);" onclick="showMenu(\''+oneMenu.resourceUrl+'\')">'+oneMenu.resourcesName+'</a></h3></li>';
            }
            menu1Html+="</ul></li>";
            allHtml+=menu1Html;
          }
        }
//        console.log(allHtml);
        //$(".pt-menu ul").html(allHtml);
      }
    },
    error: function (e) {
      console.log("网络连接失败！");
    }
  });
}

function showMenu(url) {
  $("#mainIframe").attr("src",url);
}
  //模拟实操
  function toMNSC(){
    $("#mainIframe").attr("src","mnscList");
  }
  //课件
  function toKJ(){
    $("#mainIframe").attr("src","kjList");
  }
  //试题
   function toST(){
    $("#mainIframe").attr("src","tmList");
  }
 
  //分类管理
  function toCATE(){
    $("#mainIframe").attr("src","cateList");
  }
  //字典管理
  function toDICT(){
    $("#mainIframe").attr("src","testTt");
  }
</script>

</body>
</html>