<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="${gateway}/tjsrc/css/index.css">
    <link rel="stylesheet" href="${gateway}/libs/layer/layer-new.css">

    <script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
    <script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>   
    <script src="${gateway}/tjsrc/js/echarts.common.min.js"></script>
    <script src="${gateway}/libs/layer/layer.js"></script>

</head>
<body>
    <div class="container-fluid">
        <ul class="top row">
            <li class="col-xs-4" onclick="javascript:location.href='${gateway}/tj/xxrz4admin?objTypes=ts_mnsc'" style="cursor:pointer">
                <img src="${gateway}/tjsrc/images/01.jpg">
                <span id="mnsc">次</span>
            </li>
            <li class="col-xs-4" onclick="javascript:location.href='${gateway}/tj/xxrz4admin?objTypes=ts_kj'" style="cursor:pointer">
                <img src="${gateway}/tjsrc/images/02.jpg">
                <span id="zxxx">次</span>
            </li>
            <li class="col-xs-4" onclick="javascript:location.href='${gateway}/tj/xxrz4admin?objTypes=q_sj'" style="cursor:pointer">
                <img src="${gateway}/tjsrc/images/03.jpg">
                <span id="zxlx">次</span>
            </li>
        </ul>
        <div class="center row">
            <div class="col-xs-3">
              <h2><span>模拟实操</span></h2>
              <div id="mnscStat" style="width: 100%;height:260px;"></div>
            </div>
            <div class="col-xs-3">
              <h2><span>在线课件</span></h2>
              <div id="kjStat" style="width: 100%;height:260px;"></div>
            </div>
            <div class="col-xs-6">
              <h2><span>最近访问</span></h2>
              <div id="visitLine" style="width: 100%;height:240px;"></div>
            </div>
        <!-- 
            <div class="left col-xs-6">
                <h2><span><a href="mnsc/list">模拟实操</a></span></h2>
                <div id="main" style="width: 100%;height:400px;"></div>
            </div>
            <div class="right col-xs-6">
                <h2><span><a href="kj/list">学习课件</a></span></h2>
                <div id="main2" style="width: 100%;height:400px;"></div>
            </div>
        -->
        </div>
        <div class="bottom">
            <p><strong>近期日志</strong></p>
            <ul class="logList">
            <!-- 
                <li class="row"><div class="right col-xs-6">我观看了：<span>xxx的模拟实操</span></div><div class="col-xs-6 date">2018-9-27</div></li>
                <li class="row"><div class="right col-xs-6">我观看了：<span>xxx的模拟实操</span></div><div class="col-xs-6 date">2018-9-27</div></li>
                <li class="row"><div class="right col-xs-6">我观看了：<span>xxx的模拟实操</span></div><div class="col-xs-6 date">2018-9-27</div></li>
             -->
            </ul>
        </div>
    </div>
</body>
<!-- <script src="${gateway}/tjsrc/js/index.js"></script> -->

<script>
var mnscChart = echarts.init(document.getElementById('mnscStat'));
var kjChart = echarts.init(document.getElementById('kjStat'));
var visitChart = echarts.init(document.getElementById('visitLine'));

$(function() {
  //统计数据
  logVisitCount();
  //模拟实操饼图
  getMnscStat();
  //最新课件数据
  getKjStat();
  //折线图
  getVisitStat();
  //所有日志
  getAllLogVisitList(10);

  window.onresize = function(){
    mnscChart.resize();
    kjChart.resize();
    visitChart.resize();
  }
});

//返回项目所访问次数
function logVisitCount() {
  mnscCount="0次";
  zxxxCount="0次";
  zxlxCount="0次";
  $.ajax({
    type: 'post',
    url: "${gateway}/train/getAllLogVisitCount",
    dataType: 'json',
    cache: false,
    success: function(data) {
      //状态
      var returnCode=data.returnCode;
      if (returnCode=='00') {
        var countList=data.data;
        for (var i=0; i<countList.length; i++) {
          if (countList[i].OBJ_TYPE=='ts_mnsc') {
            mnscCount=countList[i].COUNT+"次";
          } else 
          if (countList[i].OBJ_TYPE=='q_sj') {
            zxlxCount=countList[i].COUNT+"次";
          } else 
          if (countList[i].OBJ_TYPE=='ts_kj') {
            zxxxCount=countList[i].COUNT+"次";
          }
        }
      }
      $("#mnsc").html(mnscCount);
      $("#zxxx").html(zxxxCount);
      $("#zxlx").html(zxlxCount);
    },
    error: function() { //失败回调函数
      $("#mnsc").html(mnscCount);
      $("#zxxx").html(zxxxCount);
      $("#zxlx").html(zxlxCount);
    }
  });
}

function getMnscStat() {
  $.ajax({
    type: 'post',
    url: "${gateway}/train/getMnscPieStat",
    data: null,
    dataType: 'json',
    cache: false,
    success: function(res) {
      console.log(res);
      if (res.returnCode=='00') {
        // 指定图表的配置项和数据
        var catAry=[], catData=[];
        catData=res.data;
        for (var i=0; i<catData.length; i++) {
          catAry.push(catData[i].name);
        }
/*         catAry=["法规类","政策类","收费类","放行类","理货类","出口类","进口类"];
        catData=[
          {value:11,name:"法规类"},
          {value:22,name:"政策类"},
          {value:5,name:"收费类"},
          {value:30,name:"放行类"},
          {value:36,name:"理货类"},
          {value:16,name:"出口类"},
          {value:8,name:"进口类"}
        ];
 */        
        var option = {
            tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: catAry
            },
            series: [
                {
                    name: '模拟实操分类',
                    type: 'pie',
                    radius: ['70%','50%'],
                    center: ['60%','50%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: catData
                }
            ]
        };
        mnscChart.setOption(option);
        mnscChart.resize();
      }
    },
    error: function() { //失败回调函数
      layer.alert("获取信息失败");
    }
  });
}

//课件最新数据
function getKjStat() {
  $ .ajax({
    type: 'post',
    url: "./train/getKjPieStat",
    data: null,
    dataType: 'json',
    cache: false,
    success: function(res) {
      if (res.returnCode=='00') {
        // 指定图表的配置项和数据
        var catAry=[], catData=[];
        catData=res.data;
        for (var i=0; i<catData.length; i++) {
          catAry.push(catData[i].name);
        }
/*         catAry=["法规类","政策类","收费类","放行类","理货类","出口类","进口类"];
        catData=[
          {value:11,name:"法规类"},
          {value:22,name:"政策类"},
          {value:5,name:"收费类"},
          {value:30,name:"放行类"},
          {value:36,name:"理货类"},
          {value:16,name:"出口类"},
          {value:8,name:"进口类"}
        ];
 */        
        var option = {
            tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: catAry
            },
            series: [
                {
                    name: '课件分类',
                    type: 'pie',
                    radius: ['70%','50%'],
                    center: ['60%','50%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: catData
                }
            ]
        };
        kjChart.setOption(option);
        kjChart.resize();
      }
    },
    error: function() { //失败回调函数
      layer.alert("获取信息失败");
    }
  });
}

function getVisitStat() {
  $.ajax({
    type: 'post',
    url: "${gateway}/train/getVisitStat",
    data: null,
    dataType: 'json',
    cache: false,
    success: function(res) {
      if (res.returnCode=='00') {
        var catAry=[], catData=[];
        catData=res.data;
        for (var i=0; i<catData.length; i++) {
          catAry.push(catData[i].name);
          catData[i].type="line";
          catData[i].stack='访问量';
          catData[i].data=catData[i].numList;
        }
        var dayAry=res.dayAry;
/*        catAry=["法规类","政策类","收费类","放行类","理货类","出口类","进口类"];
        dayAry=["10月1日","10月2日","10月3日","10月4日","10月5日","10月6日","10月7日"];
        catData=[{
            name:'法规类',
            type:'line',
            stack: '总量',
            data:[120, 132, 101, 134, 90, 230, 210]
        },
        {
            name:'政策类',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'收费类',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'放行类',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'理货类',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'出口类',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'进口类',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330, 310]
        }];
 */
        var option = {
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data:catAry
          },
          grid: {
            left: '1%',
            right: '5%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: dayAry
          },
          yAxis: {
            type: 'value'
          },
          series: catData
        };
        visitChart.setOption(option);
        visitChart.resize();
      }
    },
    error: function() { //失败回调函数
      layer.alert("获取信息失败");
    }
  });
}

function getAllLogVisitList(rownum) {
  var data = {"rownum": rownum};
  $.ajax({
    type: "get",
    url: "./train/getAllLogVisitList",
    data: data,
    dataType: "json",
    success: function (res) {
      if(res.returnCode==00) {
        var html = ""
        for(var j=0;j<res.data.length;j++) {
          var groupName=res.data[j].groupName;
          if (groupName) groupName="【"+groupName+"】";
          else groupName="";
          if (res.data[j].visitorName) groupName+="【"+res.data[j].visitorName+"】";
          if (groupName) {
            if (res.data[j].objType=='在线练习') {
              html+= '<li class="row"><div class="right col-xs-9">'+groupName+'练习了：<span>习题【'+res.data[j].objName+'】</span></div><div class="col-xs-3 date">'+res.data[j].visitTime+'</div></li>'
            } else
            if (res.data[j].objType=='模拟实操展示') {
              html+= '<li class="row"><div class="right col-xs-9">'+groupName+'操作了：<span>模拟实操【'+res.data[j].objName+'】</span></div><div class="col-xs-3 date">'+res.data[j].visitTime+'</div></li>'
            } else
            if (res.data[j].objType=='课件展示') {
              html+= '<li class="row"><div class="right col-xs-9">'+groupName+'学习了：<span>课件【'+res.data[j].objName+'】</span></div><div class="col-xs-3 date">'+res.data[j].visitTime+'</div></li>'
            }
          }
        }
        $(".logList").html(html)
      }
    }
  });
}

/*

function getMnscStat_bak() {
  $.ajax({
    type: 'post',
    url: "${gateway}/train/getMnscStat",
    data: null,
    dataType: 'json',
    cache: false,
    success: function(res) {
      if (res.returnCode=='00') {
        // 指定图表的配置项和数据
        var catAry=[], data1=[], data2=[];
        for (var j=0; j<res.data.length; j++) {
          catAry.push(res.data[j].catName);
          data1.push(res.data[j].allKjCatCount);
          data2.push(res.data[j].recentVisitKjCatCount);
        }
        data1=[5,6,7,4,3,5,4];
        data2=[23,45,33,12,34,12,9];
        var option = {
          tooltip: {},
          xAxis: { data: catAry },
          legend: { data: ['总数量', '近期访问数'] },
          yAxis: {},
          series: [{
            name: '总数量',
            type: 'bar',
            data: data1
          },{
            name: '近期访问数',
            type: 'bar',
            data: data2
          }]
        };
        myChart.setOption(option);
        myChart.resize();
      }
    },
    error: function() { //失败回调函数
      alert("获取信息失败");
    }
  });
}

//课件最新数据
function getKjStat_bak() {
  $ .ajax({
    type: 'post',
    url: "./train/getKjStat",
    data: null,
    dataType: 'json',
    cache: false,
    success: function(res) {
      if (res.returnCode=='00') {
        // 指定图表的配置项和数据
        var catAry=[], data1=[], data2=[];
        for (var j=0; j<res.data.length; j++) {
          catAry.push(res.data[j].catName);
          data1.push(res.data[j].allKjCatCount);
          data2.push(res.data[j].recentVisitKjCatCount);
        }
        data1=[11,16,9,14,8,9,5];
        data2=[33,35,43,22,24,32,17];
        var option = {
          tooltip: {},
          xAxis: { data: catAry },
          legend: { data: ['总数量', '近期访问数'] },
          yAxis: {},
          series: [{
            name: '总数量',
            type: 'bar',
            data: data1
          },{
            name: '近期访问数',
            type: 'bar',
            data: data2
          }]
        };
        myChart2.setOption(option);
        myChart2.resize();
      }
    },
    error: function() { //失败回调函数
      alert("获取信息失败");
    }
  });
}

*/
</script>

<script type="text/javascript">
var _gatherData={};
_gatherData.visitModuleId="管理端首页";
_gatherData.objType="admin_mainpage";
(function() {
  var ma=document.createElement('script');
  ma.type='text/javascript';
  ma.async=true;
  ma.src="./tjsrc/js/ma.js";
  var s=document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ma, s);
})();
</script>
</html>