<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TreeView-Lise</title>
    <!-- 1 bootstrap基础css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" >
    <!-- 2 table表格css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 3 treeview树css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 4 datetimepicker时间选择css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet" >
    <!-- 5 select选择框css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/bootstrap-select.css" rel="stylesheet" >
    <!-- 6 fileinput上传文件css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/fileinput.min.css" rel="stylesheet" >
    <!-- 7 icheck单选+多选css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/icheck-blue.css" rel="stylesheet">
    <!-- 8 Validator验证css -->
    <link href="./libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css" rel="stylesheet" >
    <!-- 9 layer弹框css -->
    <link href="./libs/layer/layer-new.css" rel="stylesheet" >
    <!-- 10 引入字体css -->
    <link href="./libs/bootstrap-3.3.7-dist/fonts/iconfont.css" rel="stylesheet">
    <!-- 11 页面样式css -->
    <link href="./src/css/pt-main.css" rel="stylesheet" >

    <!-- 优先引入jquery1.12.4版本 -->
    <script src="./libs/jquery/jquery-1.12.4.js"></script>
    <!-- 1 bootstrap基础js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!-- 2 table表格js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstraptable-treeview.js"></script>
    <!-- 2 table列表数据js simple-table -->
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
    <!-- 3 treeview树js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
    <!-- 4 datetimepicker时间选择js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
    <!-- 5 select选择框js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
    <!-- 6 fileinput上传文件js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
    <!-- 6 fileinput中文包js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
    <!-- 7 icheck单选+多选js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
    <!-- 8 Validator验证js -->
    <script src="./libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
    <!-- 9 layer弹框js -->
    <script src="./libs/layer/layer.js"></script>
    <!-- 9 以下是覆盖layer.js中的css样式，必须放在layer.js下面 -->
    <link href="./libs/layer/layer-new.css" rel="stylesheet" >
    <!-- 11 页面js -->
    <script src="./src/js/main.js"></script>

</head>

<body>
    <div style="margin:20px">
        <input type="button" id="expandAllTree" value="展开所有"  class="btn btn-defaul"/>
        <input type="button" id="collapseAllTree" value="折叠所有" class="btn btn-defaul"/>
        <table id="tree_table"></table>

    </div>
    <script>alert("333");
        $(function () {
            var data = {"total":3,
                "rows":[
                {
                    id: '1',
                    name: "aa",
                    desc: "这是一个描述",
                    parentId:null
                },{
                    id: '11',
                    name: "aa_sub1",
                    desc: "这是一个描述_sub1",
                    parentId:'1'
                },{
                    id: '111',
                    name: "aa_sub1_sub2",
                    desc: "这是一个描述_sub1_sub2" ,
                    parentId:'11'
                },
                {
                    id: '2',
                    name: "bb",
                    desc: "这是一个描述",
                    parentId:null
                },
                {
                    id: '22',
                    name: "bb_sub1",
                    desc: "这是一个描述_sub1",
                    parentId:'2'
                },{
                    id: '23',
                    name: "bb_sub2",
                    desc: "这是一个描述_sub2",
                    parentId:'2'
                },{
                    id: '233',
                    name: "bb_sub2_sub2",
                    desc: "这是一个描述_sub2_sub2",
                    parentId:'23'
                },{
                    id: '2333',
                    name: "bb_sub2_sub2_sub2",
                    desc: "这是一个描述_sub2_sub2_sub2",
                    parentId:'233'
                },{
                    id: '23333',
                    name: "bb_sub2_sub2_sub23",
                    desc: "这是一个描述_sub2_sub2_sub2",
                    parentId:'233'
                },{
                    id: '233333',
                    name: "bb_sub2_sub2_sub233",
                    desc: "这是一个描述_sub2_sub2_sub2",
                    parentId:'233'
                },{
                    id: '24',
                    name: "bb_sub3",
                    desc: "这是一个描述_sub3",
                    parentId:'2'
                },
            ]};
            alert("getDatte");
            $('#tree_table').bootstrapTable({
                class: 'table table-hover table-bordered',
                url:'./data.json',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                //data: data,
                sidePagination: 'server',
                pagination: false,
                treeView: true,
                treeId: "id",
                treeField: "name",
                rowAttributes: function (row, index) {
                    return {
                        xx:index
                    };
                },
                queryParams : function(params) {
					var param = {
						roleId : 'xx'
					};
					return param;
				},
                columns: [{
                    checkbox:true
                },{
                    field: 'name',
                    title: '名称',
                },
                {
                    field: 'desc',
                    title: '详情',
                },
                ]
            });
            $("#expandAllTree").on('click',function(){
                $('#tree_table').bootstrapTable("expandAllTree")
            })
            $("#collapseAllTree").on('click',function(){
                $('#tree_table').bootstrapTable("collapseAllTree")
            })
        });
    </script>
</body>

</html>