html,body{
  height: 1275px;
}
.paymentList thead{
  width: 1200px;
}
.page-form-list{
background: white;
}
.page-main{
  height: 680px;
  position: relative;
}
.pay_button{
  margin-top:60px;
}
iframe{
  margin-top: -21px;
}
.pay_button .repractice{
  margin-left: 460px;
}
.page-form-list img{
  display: inline-block;
  width: 1000px;
  height: 550px;
  margin-left: 100px;
}
/*气泡的设置*/
.model{
  width: 330px;
  height: 220px;
  position: absolute;
  top:429px;
  left:641px;
  bottom: 0;
  right: 0;
  background: rgba(144,144,144,0.5);
  color: white;
  font-size: 23px;
  border-radius: 5px;
  display: none;
}
.model .know{
  display: inline-block;
  width: 50px;
  height: 25px;
  border: 1px solid white;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  margin-left: 140px;
}
.model .model_text{
  display: inline-block;
  width: 300px;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-indent:45px;
}
.triangle {
  position: absolute;
  top: 412px;
  left:692px;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid rgba(144,144,144,0.5);
  display: none;
}
.special{
  color: orange;
}

/*内容区头部内容样式的设置*/
.page-main .header-wrap{
  width: 1000px;
  margin: 0 auto;
}
.page-main .header-logo{
  margin-left: 15px;
}
.page-main{
  padding-top: 25px;
}






