html,body{
  height: 1022px;
}
.page-form-list{
  width: 700px;
  height: 400px;
}
.page-main{
  height: 520px;
}
.pay_button{
  margin-top: 100px;
}
.model{
  width: 390px;
  height: 400px;
  border-radius: 20px;
  background: rgba(0,0,0,0.6);
  margin-left: 21px;
  margin-right: 22px;
  color: white;
  line-height: 60px;
  font-size: 18px;
}
.model p{
  margin-left: 25px;
}
.model,.triangle,.page-form-list{
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.triangle{
  margin-right: 22px;
}
.triangle img{
  margin-top: 160px;
}
.page-container {
  padding-top: 65px;
}
.special1{
  color:#f46227;
}
.special{
  color:#f46227;
}
.write{
  color:#f46227;
  font-size: 25px;
}
.model img{
  margin-right: 8px;
}
.page-form {
  padding-top: 20px;
}
#form-submit3{
  margin-left: 40px;
}