/*实操内容*/
body{
  background: #F2F2F2;
}
html{
  height: 1110px;
  overflow: auto;
}
.bill{
  width: 1200px;
  margin: 0 auto;
}
.billList{
  margin: 35px auto 0;
  background:white;
  padding-top: 20px;
 /* height: 620px;*/
  position: relative;
  border-radius: 5px;
}
.billList table{
  width: 1150px;
  margin: 0 auto;
}
.table>thead>tr>td{
  text-align: left;
}
.table>tbody>tr>td{
  text-align: left;
  font-size: 14px;
}

.billList tr{
  height: 40px;
}
.message button{
  text-align: center;
  margin-left: 30px;
  font-size: 14px;
}
.message .message1{
  background: lightblue;
}
.message .message2{
  background: yellowgreen;
}
.message .message3{
  background: yellowgreen;
}
.ladingNumber strong {
  color: red;
  font-size: 16px;
}
.ladingNumber>td>input{

  height: 25px;
}
.button button:first-child{
  margin-left: 290px;
}
.button button{
  margin-left: 30px;
  text-align: center;
  background: #2d65c2 ;
  color: white;
  font-size: 14px;
}
.button button:hover{
  color: white;
}

/*底部相关*/
.paymentList_bottom{
  width: 1200px;
  height: 250px;
  margin: 30px auto 0;
  background: white;
}
.relevant span{
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color:white;
  background: gainsboro;
  border-radius: 0 0 5px 5px;
  margin-left: 25px;
  font-size: 14px;
}
.relevant a{
  color: white;
}
.relevant .active{
  background: #f46227;
}
.relevant_practice{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.practice_title p{
  font-size: 16px;
}
.practice_title span{
  font-size: 16px;
  color: #C3C3C3;
}
.relevant_practice div:first-child{
  margin-left: -30px;
}

/*气泡*/
.model_text{
  width: 220px;
  margin: 0 auto;
}
.model1_text{
  width: 220px;
  margin: 0 auto;
}
.model2_text{
  width: 220px;
  margin: 0 auto;
}
.model_bg{
  position: absolute;
  top: 235px;
  left: 516px;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 999;
  display:none;
  width: 240px;
  height: 150px;
  border-radius:5px;
  color: white;
}
.model_text p{
  margin-top: 35px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
  color: white;
  text-indent: 24px;
}
.model_text span{
  display: inline-block;
  margin-left: 85px;
  width: 50px;
  height: 25px;
  border: 1px solid white;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 14px;
  color: white;
}
.triangle{
  position: absolute;
  top: 326px;
  left: 498px;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  width: 0;
  height: 0;
  border-top:18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right: 18px solid rgba(0,0,0,.5);
}
.model_bg1{
  position: absolute;
  top: 167px;
  left:164px;
  bottom: 0;
  right: 0;
  background: rgba(0,0,255,.5);
  z-index: 999;
  display: none;
  width: 240px;
  height: 150px;
  border-radius:5px;
  padding-top: 15px;
}
.triangle1{
  position: absolute;
  top: 149px;
  left: 209px;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  width: 0;
  height: 0;
  border-left:18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid rgba(0,0,255,.5);
}
 .model1_text span{
   color: white;
   font-size: 14px;
 }
.model1_text span:first-child{
  margin-left: 15px;
}
.model1_text #star {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: red;
  text-align: center;
}
.model1_text span:last-child{
  display: inline-block;
  color:#feef00 ;
  margin-top: 10px;
}
.model1_text p{
  display: inline-block;
  margin-left: 94px;
  width: 50px;
  height: 25px;
  border: 1px solid white;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin-top: 25px;
}
.model_bg2{
  position: absolute;
  top: 219px;
  left: 746px;
  bottom: 0;
  right: 0;
  background: rgba(0,0,255,.5);
  z-index: 999;
  display: none;
  width: 240px;
  height: 150px;
  border-radius:5px;
  padding-top: 45px;
}
.triangle2{
  position: absolute;
  top: 241px;
  left: 986px;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  width: 0;
  height: 0;
  border-top:18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid rgba(0,0,255,.5);
}
.model2_text p{
  margin-top: -10px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
  color: white;
  text-indent: 24px;
}
.model2_text span{
  display: inline-block;
  margin-left: 85px;
  width: 50px;
  height: 25px;
  border: 1px solid white;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 14px;
  color: white;
}
.pay_button span{
  margin-top: 68px;
}
select{
  width: 157px;
  height: 25px;
}
.abstract{
  display: inline-block;
  width: 1000px;
  height: 55px;
}

.table>tbody>tr>td>.add {
  display: inline-block;
  width: 30px;
  height: 25px;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  background: #148bff;
  color: white;
  line-height: 25px;
  text-align: center;
}
.nav{
  left: 25px;
  width: 1149px;
}

.table>tbody>tr>.term{
  color: #5b9dde;
}
.pay_button{
  padding-bottom: 25px;
  padding-top: 0;
}

.nav li{
  width: 75px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #20c1ed;
  border-radius: 5px;
  color: black;
}