.courseware{
  width: 1200px;
  margin: 0 auto;
  height:1100px;
}
body{
  background: #f2f2f2;
}
.bg_img{
  height: 80px;
  width: 100%;
}
.title_img{
  position: absolute;
  top: 25px;
  left: 200px;
  width: 330px;
}
.logo{
  position: absolute;
  top:20px;
  left: 139px;
  width:44px;
  height: 37px;
}
.nav_right input{
  width: 170px;
  height: 28px;
  border-radius: 16px;
  outline: none;
  border: 1px solid silver;
  top:25px;
  right: 195px;
  position: absolute;
}
.nav_right img{
  position: absolute;
}
.nav_right .touxian{
  top:25px;
  right: 133px;
}
.nav_right .xiaoxi{
  top: 26px;
  right: 74px;
}
.nav_right .circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  position: absolute;
  right: 74px;
  top: 25px;
}
.num{
  position: absolute;
  right: 78px;
  top: 2px;
}
.pt-root-container{
  background-color: #F2F2F2;
}
/*课件中心*/
.courseware_center{
  height: 60px;
  font-size: 16px;
  background: white;
  line-height: 60px;
  width: 1200px;
  margin: 0 auto 35px;
  font-weight: bold;
}
.courseware_center span{
  margin-left:26px;
}
.courseware_center .border{
  width: 65px;
  height:4px;
  background-color:#2d65c2 ;
  margin-left:26px;
  margin-top: -3px;
  border: none;
}
/*上部分内容*/
.detail_top {
  height: 270px;
  width: 1200px;
  min-width: 1200px;
  margin:0 auto ;
  background-color: white;
}
.course_img{
  float: left;
}
.course_img img{
  display: inline-block;
  width: 280px;
  height: 212px;
  margin-left:18px;
  margin-top: 29px;
  border-radius: 5px 5px 0 0;
}
.course_right{
  float: left;
  margin-top: 35px;
  margin-left: 40px;
}
.course_name{
  font-size: 24px;
  color: black;
}
.course_right .course_right_img{
  display: inline-block;
  width: 20px;
  height: 15px;
}
.course_mid{
  margin-top: 18px;
}
.course_mid .course1{
  font-size: 14px;
  color: #C3C3C3;
}
.course_time{
  color: #C3C3C3;
  font-size: 14px;
  margin-left: 40px;
}
.course_description{
  width: 820px;
  height: 70px;
  margin-top: 25px;
}
.study_btn .start_study{
  background: #2e66bd;
  color: white;
  font-size: 14px;
}
.study_btn .now_study{
  font-size: 14px;
  color: white;
  background: #f46227;
}
/*空隙*/
.gap{
  width: 1200px;
  height: 66px;
  margin: 20px auto 20px;
  background-color: white;
  line-height: 66px;
}
.gap span{
  margin-left: 26px;
  font-size: 16px;
  font-weight: bold;
}
.gap .border{
  width: 70px;
  height:4px;
  background-color:#2d65c2 ;
  margin-left:21px;
  margin-top: -3px;
  border: none;
}
/*下部分内容*/
.detail_bottom{
  height: 259px;
  width: 1200px;
  margin: 0 auto;
}
.row{
  width: 1200px;
  margin-left: -11px;
}
.col-md-3 img{
  margin-left: 13px;
  display: inline-block;
  width: 235px;
  height: 160px;
}
.col-md-3{
  width:20%;
}
.row_title{
  height: 40px;
  line-height: 40px;
}
.name_title{
  height:92px;
  background-color: white;
  margin-left:13px;
  width: 235px;
  text-align: center;

}
.name_title p{
  font-size: 18px;
}
/*底部*/
.pt_footer{
  width: 1200px;
  margin: 0 auto;
}
.pt_footer div{
  margin-left: 500px;
  font-size: 14px;
}
/*相关练习*/
.related_exercises{
  width: 1200px;
  margin: 24px auto 0;
  height: 66px;
  background: white;
  line-height: 66px;
}
.related_exercises span{
  font-size: 16px;
  margin-left: 26px;
  font-weight: bold;
}
.related_exercises .relative{
  display: inline-block;
  width: 60px;
  height: 38px;
}
.related_exercises .border{
  width: 70px;
  height:4px;
  background-color:#2d65c2 ;
  margin-left:24px;
  margin-top: -5px;
  border: none;
}
.related_exercises .submit {
  color: white;
  background: #f46227;
  float: right;
  margin-top: -52px;
  margin-right: 78px;
}
/*练习题目*/
.topics{
  width: 1200px;
  margin: 15px auto 10px;
  background: white;
  display: flex;
  justify-content: space-around;
  height: 200px;
}
.topics .col-md-3{
  width: 25%;
}
.topics .col-md-3 p{
  font-size: 16px;
}
.topics_content p{
  font-size: 16px;
  margin-top: 30px;
}
.topics_content span{
  font-size: 16px;
  color: #C3C3C3;
}
.topics div:first-child{
  margin-left: -79px;
}
input[type=""]{
  background: #0f8bed;
}
html{
  overflow: scroll;
}
.practice_title {
  margin-left:-117px ;
}
.relevant_practice p {
  margin-top: 59px;
}
.practice_title .answer{
  margin-left:221px ;
}
.paymentList_bottom{
  height: 200px;
}
.practice_title1 p{
  font-size: 20px;
  color: black;
  margin-left:387px;
}
.practice_title1 .left{
  margin-left: 28px;
}
.practice_title1 .answer1{
  margin-top: 10px;
}

.paymentList_bottom{
  margin-top: -40px;
}

.name_top .course_right_img{
  display: inline-block;
  width: 20px;
  height: 15px;
}
.name_top p{
  padding-top: 15px;
  margin-left: -35px;
  margin-bottom: 15px;
}
.name_top .course1{
  font-size: 14px;
  color: #C3C3C3;

}

/*以下new*/
._gap{
  width: 1200px;
  height: 60px;
  margin: 20px auto 5px;
  background-color: white;
  line-height: 60px;
}
._gap span{
  margin-left: 26px;
  font-size: 16px;
  font-weight: bold;
}
._gap .border{
  width: 70px;
  height:4px;
  background-color:#2d65c2 ;
  margin-left:21px;
  margin-top: -5px;
  border: none;
}
._course_img{
  float: left;
}
._course_img img{
  display: inline-block;
  width: 280px;
  height: 212px;
  margin-left:18px;
  margin-top: 29px;
  border-radius: 5px;
}

._detail_bottom{
  height: auto;
  padding: 18px;
  padding-top: 0px;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}
.tlkc img{
  border-radius: 5px 5px 0 0;
  margin-left: 13px;
  display: inline-block;
  width: 220px;
  height: 160px;
}
.tlkc{
  padding-top:18px;
  width:220px;
  margin-right:15px;
}
._name_title{
  height:92px;
  margin-left:13px;
  width: 220px;
  border-radius: 0 0  5px 5px;
  background-color: #f8f8f8;
  text-align: center;
}
._name_title p{
  font-size: 18px;
}

/*题目内容*/
.tm_area {
  width: 1200px;
  margin: 0 auto 0;
  height: auto;
  background:white;
  padding-bottom:40px;
  margin-bottom:20px;
}
.tmrow {
  display: flex;
  padding-bottom:20px;
}
.learnBtn {
  display: inline-block;
  cursor: pointer;
  width: 120px;
  height: 40px;
  line-height: 39px;
  padding-top: 5px;
  background: #f46227;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  color: white;
  margin-top: 20px;
  margin-left: 900px;
  font-size: 16px;
}
.tm p {
  margin-top: 55px;
  margin-left:100px;
  margin-right:100px;
  font-size:16px;
}
.tm .answer {
  margin-top:8px;
  margin-left:100px;
  margin-right:100px;
  font-size:14px;
}
.oneItem {
  margin-left:10px;
}