html,body{
    font-size: 14px;
}

/*模拟实操导航条*/
.nav_bar{
    height: 60px;
    width: 1200px;
    background: white;
    font-size: 16px;
    line-height: 60px;
}
.nav_bar span{
    margin-left: 26px;
    font-weight: bold;
}
.nav_bar .border{
    border: 2px solid #2d65c2;
    width: 96px;
    margin-top: -3px;
    margin-left: 26px;
}

/*1111*/
.table>thead>tr{
    background: #EEF2F6;
    font-size: 16px;
    height: 45px;
}
.table>tbody>tr>td>span{
    display: inline-block;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    margin-left: 30px;
    background: #2d65c2 ;
    color: white;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
/*模拟实操按钮*/
.pay_button span{
    display: inline-block;
    width: 140px;
    height: 35px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: white;
}
.pay_button .previousPage{
    background-color: #f46227;
    margin-right:15px;
    margin-left: 364px;
}
.pay_button span:hover{
    cursor: pointer;
}
.pay_button .repractice{
    background-color: #148bff;
    margin-right: 15px;
}
.pay_button .nextPage{
    background-color: #f46227;
}
.paymentList thead{
    width: 1200px;
}

/*列表页导航条*/
.nav {
    border-bottom: 2px solid #ABC3CF;
    height: 60px;
    position: relative;
    z-index: 2;
    background: #fff;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color:white;
}
.nav li {
    display: inline-block;
    font-size: 16px;
    margin: 0 10px 0 50px;
    line-height: 56px;
    box-sizing: border-box;
    font-weight: 400;
}
.nav .active{
    border-bottom: 4px solid #2E66BD;
    color: black;
    font-weight: bold;
}
.nav .active .active1{
    color: white;
    font-weight: bold;
   /*  background:#f01c00; */
    border-radius: 5px;
}
.nav li a{
    padding: 0;
    color: #C3C3C3;
}

/*内容展示区域的样式*/
.row img{
    width: 280px;
    height: 180px;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    margin-left: 41px;
}
.col-md-3{
    width: 23.5%;
}
.name_title{
    width: 280px;
    height: 180px;
    display: inline-block;
    border-radius: 0px 0px 5px 5px;
    margin-left: 41px;
    background-color: #f8f8f8;
}
.bottom{
    margin-top: 15px;
}
h5{
    color: #C3C3C3;
}
h4,h5{
    margin-left: 10px;
}
h4{
    margin-top: 18px;
}
.name_title img{
    display: inline-block;
    width: 17px;
    height: 13px;
}
.name_title .img_left{
    margin-left: -176px;
}
.name_top{
    height: 100px;
    line-height: 50px;
}
.border{
    border: 0.5px solid #C3C3C3;
}
.name_bottom{
    height:80px ;
    line-height: 66px;
}
.name_bottom img{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 10px;
}
.name_bottom span:last-child{
    margin-left: 40px;
    color: #C3C3C3;
}

/*调整页面比例调整代码*/
.pt_content{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background: white;
}
.pt-view{
    width: 1080px;
    left: 180px;}

.nav{
    left: -40px;
    width:988px;
}
.row{
    width: 1080px;
}
body{
    background: #F2F2F2;
}
.pt-footer{
    z-index: 9999;
}

