<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>企业统计</title>
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css" rel="stylesheet">
<link href="${gateway}/src/css/pt-main.css" rel="stylesheet">

<script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<script src="${gateway}/libs/layer/layer.js"></script>
<link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet">
<script src="${gateway}/src/js/main.js"></script>

<style>
.datetimepicker-dropdown-bottom-right {
  margin-top: 2px;
}
</style>
</head>

<body>
  <div class="pt-page">
    <div class="pt-root-container">
      <!--主视口 -->
      <div class="pt-view pt-open" style="padding-left: 0px;">
        <!--带横线标题-->
        <div class="pt-bread">
          <h3>企业统计</h3>
          <!-- 添加展开按钮 -->
          <button type="button" id="ptsearchfilter" class="btn btn-primary pt-zkbtn">展开</button>
        </div>
        <div class="pt-main pt-padding">
          <!--搜索条-->
          <div class="pt-section-search">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
                <form class="form-inline">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;" for="compIds">选择企业</label>
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <select id="compIds" name="userIds" class="selectpicker" data-actions-box="true"  data-live-search="true" title="请选择">
                          <option value="">清空</option>
                          ${optionHtml}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="createTime">学习时间</label>
                      <div id="date1" class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="begin" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height:40px"><i class="icon-th"></i></span>
                      </div>
                      <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1" for="createTime">~</label>
                      <div id="date2" class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="end" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height:40px"><i class="icon-th"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                      <button type="button" class="btn btn-default btn-primary w80" onclick="search()">统计</button>
                      <button type="button" class="btn btn-default btn-primary w80" onclick="exp()">导出</button>
                    </div>
                  </div>
                  <!--隐藏部分包裹 -->
                  <div class="hiddenorshow pt-search-filter">
                  <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">课件学习数</label>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select id="kjcsType" name="kjcsType" class="selectpicker" data-actions-box="true" title="请选择">
                          <option value="0">大于</option>
                          <option value="2">小于</option>
                          <option value="1">等于</option>
                        </select>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input class="form-control" id="kjcs" size="16" type="number" value="" style="padding-left:10px;">
                      </div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2">课件占比(%)</label>
                      <div class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;">
                        <input class="form-control" id="kjzb1" size="16" type="text" value="" style="padding-left:10px;">
                      </div>
                      <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1" for="createTime">~</label>
                      <div class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;">
                        <input class="form-control" id="kjzb2" size="16" type="text" value="" style="padding-left:10px;">
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">实操学习数</label>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select id="sccsType" name="sccsType" class="selectpicker" data-actions-box="true" title="请选择">
                          <option value="0">大于</option>
                          <option value="2">小于</option>
                          <option value="1">等于</option>
                        </select>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input class="form-control" id="sccs" size="16" type="number" value="" style="padding-left:10px;">
                      </div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2">实操占比(%)</label>
                      <div class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;">
                        <input class="form-control" id="sczb1" size="16" type="text" value="" style="padding-left:10px;" title="%">
                      </div>
                      <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1" for="createTime">~</label>
                      <div class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;">
                        <input class="form-control" id="sczb2" size="16" type="text" value="" style="padding-left:10px;">
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                      <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-left:0px;">练习次数</label>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select id="lxcsType" name="lxcsType" class="selectpicker" data-actions-box="true" title="请选择">
                          <option value="0">大于</option>
                          <option value="2">小于</option>
                          <option value="1">等于</option>
                        </select>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <input class="form-control" id="lxcs" size="16" type="number" value="" style="padding-left:10px;">
                      </div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2">练习占比(%)</label>
                      <div class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;">
                        <input class="form-control" id="lxzb1" size="16" type="text" value="" style="padding-left:10px;">
                      </div>
                      <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1" for="createTime">~</label>
                      <div class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;">
                        <input class="form-control" id="lxzb2" size="16" type="text" value="" style="padding-left:10px;">
                      </div>
                    </div>
                    </div>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--内容区容器-->
          <div class="pt-main">
            <!--bootstrap 表格-->
            <div class="row"><div class="col-sm-12"><div class="table-wrap">
              <table id="tb_departments"></table>
            </div></div></div>
          </div>
        </div>
      </div>
      <!--主视口 结束-->
    </div>
  </div>
<iframe style="display:none;" name="expForm" id="expForm" action=""></iframe>

<script src="${gateway}/src/js/pt-tree.js"></script>
<script>
$(function() {
  $(".dropdown-menu").on('click', function (e) {
    e.stopPropagation();
  });
  //时间选择
  $('.datetimepicker').datetimepicker({
    language: 'zh',
    format: 'yyyy-mm-dd',
    minView: "month",
    pickDate: true,
    pickTime: false,
    todayBtn: true,
    autoclose: true
  });

  //搜索扩展
  $("#ptsearchfilter").click(function() {
    $(this).text($(".hiddenorshow").is(":hidden") ? "收起" : "展开");
    $(".hiddenorshow").toggleClass('pt-search-filter');
  });

  //初始化选择树
  $.ajax({
    type : "post",
    url : '${gateway}/train/getTree/ptTree',
    data: {type:1},
    dataType : "json",
    success : function(result) {
      if (result.returnCode == '00') {
        var tree = [];
        tree.push(result.data.tree);
        result.data.tree.text = "全部";
        $('#cate-tree').treeview({
          data : tree, // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      } else {
        $('#cate-tree').treeview({
          data : [ {
            text : '全部',
            id : '0',
            pathName : '全部'
          } ], // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      }
    },
    error:function() {
      $('#cate-tree').treeview({
        data : [ {
          text : '全部',
          id : '0',
          pathName : '全部'
        } ], // 数据源
        showCheckbox : true, //是否显示复选框
        multiSelect : false, //多选
        onNodeChecked : function(event, data) {
          selectTreeNode(data);
        }
      });
    }
  });
});

//搜索
function search() {
  $("#tb_departments").bootstrapTable('refresh',{pageNumber:1});
  //$("#tb_departments").bootstrapTable('selectPage',1);
}
//导出
function exp() {
  var selectedValues = [];
  var count=$("#compIds option").length;
  for(var i=0;i<count;i++){
    if ($("#compIds").get(0).options[i].selected) {
      selectedValues.push($("#compIds").get(0).options[i].value);
    }
  }
  //组织其他参数
  var urlParam="?compIds="+encodeURIComponent(selectedValues.join(","));
  urlParam+="&date1="+$("#date1").find("input").val();
  urlParam+="&date2="+ $("#date2").find("input").val();
  urlParam+="&kjcsType="+ $("#kjcsType").val();
  urlParam+="&kjcs="+$("#kjcs").val();
  urlParam+="&kjzb1="+$("#kjzb1").val();
  urlParam+="&kjzb2="+$("#kjzb2").val();
  urlParam+="&sccsType="+$("#sccsType").val();
  urlParam+="&sccs="+$("#sccs").val();
  urlParam+="&sczb1="+$("#sczb1").val();
  urlParam+="&sczb2="+$("#sczb2").val();
  urlParam+="&lxcsType="+$("#lxcsType").val();
  urlParam+="&lxcs="+$("#lxcs").val();
  urlParam+="&lxzb1="+$("#lxzb1").val();
  urlParam+="&lxzb2="+$("#lxzb2").val();

  url="${gateway}/tj/expQytjList"+urlParam;
  $("#expForm").attr("src", url);
}

function refresh() {
  $("#tb_departments").bootstrapTable('refresh');
}
function lookItem(e) {
  layer.open({
    type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
    title : '<span class="text-color">查看分类信息</span>',//请修改span中间的内容
    shadeClose : true,//开启阴影关闭
    closeBtn : 1, //不显示关闭按钮
    shade : 0.6,
    maxmin : false,//开启最大化最小化按钮
    area : [ '60%', '80%' ],//此处可以改为100%，该数值按UI图比例算出
    content : '${gateway}/cate/view?id='+e//如果不想出现滚动条['content.html', 'no']
  });
}

TableInit(queryParams).Init('${gateway}/tj/getQytjList', [
 //第一行
 [{
    field : 'groupName',
    title : '企业名称',
    sortable : false,
    colspan:1,
    rowspan:2,
    align: "center",
    valign: 'middle'
  }, {
    title : '课件学习',
    colspan:3,
    rowspan:1
  }, {
    title : '模拟实操',
    colspan:3,
    rowspan:1
  }, {
    title : '学员练习',
    colspan:3,
    rowspan:1
 }],
 //第二行
 [{
   field : 'kjCount',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习次数'
 }, {
   field : 'allKj',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习总数'
 }, {
   field : 'kjRatio',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习占比'
 }, {
   field : 'mnscCount',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习次数'
 }, {
   field : 'allMnsc',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习总数'
 }, {
   field : 'mnscRatio',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习占比'
 }, {
   field : 'sjCount',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '练习次数'
 }, {
   field : 'allSj',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '练习总数'
 }, {
   field : 'sjRatio',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '练习占比'
 }]
]);

function queryParams(params) {
  var selectedValues = [];
  var count=$("#compIds option").length;
  for(var i=0;i<count;i++){
    if ($("#compIds").get(0).options[i].selected) {
      selectedValues.push($("#compIds").get(0).options[i].value);
    }
  }
  var data={
    //组织其他参数
    compIds: selectedValues.join(","),
    date1: $("#date1").find("input").val(),
    date2: $("#date2").find("input").val(),
    kjcsType: $("#kjcsType").val(),
    kjcs: $("#kjcs").val(),
    kjzb1: $("#kjzb1").val(),
    kjzb2: $("#kjzb2").val(),
    sccsType: $("#sccsType").val(),
    sccs: $("#sccs").val(),
    sczb1: $("#sczb1").val(),
    sczb2: $("#sczb2").val(),
    lxcsType: $("#lxcsType").val(),
    lxcs: $("#lxcs").val(),
    lxzb1: $("#lxzb1").val(),
    lxzb2: $("#lxzb2").val(),
    limit: params.limit, //页面大小
    offset: params.offset //页码
  };
  return data;
}
function formatNumAlignRight(value) {
  return '<span style="padding-right:15x;">'+value+'</span>'
}
</script>
</body>
</html>