<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>学员信息</title>
<!-- 1 bootstrap基础css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css"
  rel="stylesheet">
<!-- 2 table表格css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css"
  rel="stylesheet">
<!-- 3 treeview树css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css"
  rel="stylesheet">
<!-- 4 datetimepicker时间选择css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css"
  rel="stylesheet">
<!-- 5 select选择框css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css"
  rel="stylesheet">
<!-- 6 fileinput上传文件css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css"
  rel="stylesheet">
<!-- 7 icheck单选+多选css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css"
  rel="stylesheet">
<!-- 8 Validator验证css -->
<link
  href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css"
  rel="stylesheet">
<!-- 10 引入字体css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css"
  rel="stylesheet">
<!-- 11 页面样式css -->
<link href="${gateway}/src/css/pt-main.css" rel="stylesheet">

<!-- 优先引入jquery1.12.4版本 -->
<script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
<!-- 1 bootstrap基础js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- 2 table表格js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<!-- 3 table列表数据js simple-table -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
<!-- 4 treeview树js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
<!-- 5 datetimepicker时间选择js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<!-- 6 select选择框js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
<!-- 7 fileinput上传文件js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
<!-- 8 fileinput中文包js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
<!-- 9 icheck单选+多选js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
<!-- 10 Validator验证js -->
<script
  src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<!-- 11 layer弹框js -->
<script src="${gateway}/libs/layer/layer.js"></script>
<!-- 9 layer弹框css -->
<link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet">
<!-- 12 页面js -->
<script src="${gateway}/src/js/main.js"></script>

<style>
.datetimepicker-dropdown-bottom-right {
  margin-top: 2px;
}
</style>
</head>

<body>
  <div class="pt-page">
    <div class="pt-root-container">
      <!--主视口 -->
      <div class="pt-view pt-open" style="padding-left: 0px;">
        <!--带横线标题-->
        <div class="pt-bread">
          <h3>学员学习</h3>
        </div>
        <div class="pt-main pt-padding">
          <!--搜索条-->
          <div class="pt-section-search">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
                <form class="form-inline">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" for="userIds">选择人员</label>
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <select id="userIds" name="userIds" class="selectpicker" data-actions-box="true"  data-live-search="true" title="请选择">
                          ${optionHtml}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="createTime">统计时间</label>
                      <div id="date1" class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="begin" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height:40px"><i class="icon-th"></i></span>
                      </div>
                      <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1" for="createTime">~</label>
                      <div id="date2" class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="end" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height:40px"><i class="icon-th"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">
                      <button type="button" class="btn btn-default btn-primary w120" onclick="search()">统计</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--内容区容器-->
          <div class="pt-main">
            <!--bootstrap 表格-->
            <div class="row">
              <div class="col-sm-12">
                <div class="table-wrap">
                  <table id="tb_departments"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--主视口 结束-->
    </div>
  </div>

<script src="${gateway}/src/js/pt-tree.js"></script>
<script>
$(function() {
  $(".dropdown-menu").on('click', function (e) {
    e.stopPropagation();
  });
  //时间选择
  $('.datetimepicker').datetimepicker({
    language: 'zh',
    format: 'yyyy-mm-dd',
    minView: "month",
    pickDate: true,
    pickTime: false,
    todayBtn: true,
    autoclose: true
  });

  //搜索扩展
  $("#ptsearchfilter").click(function() {
    $(this).text($(".hiddenorshow").is(":hidden") ? "收起" : "展开");
    $(".hiddenorshow").toggleClass('pt-search-filter');
  });

  //初始化选择树
  $.ajax({
    type : "post",
    url : '${gateway}/train/getTree/ptTree',
    data: {type:1},
    dataType : "json",
    success : function(result) {
      if (result.returnCode == '00') {
        var tree = [];
        tree.push(result.data.tree);
        result.data.tree.text = "全部";
        $('#cate-tree').treeview({
          data : tree, // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      } else {
        $('#cate-tree').treeview({
          data : [ {
            text : '全部',
            id : '0',
            pathName : '全部'
          } ], // 数据源
          showCheckbox : true, //是否显示复选框
          multiSelect : false, //多选
          onNodeChecked : function(event, data) {
            selectTreeNode(data);
          }
        });
      }
    },
    error:function() {
      $('#cate-tree').treeview({
        data : [ {
          text : '全部',
          id : '0',
          pathName : '全部'
        } ], // 数据源
        showCheckbox : true, //是否显示复选框
        multiSelect : false, //多选
        onNodeChecked : function(event, data) {
          selectTreeNode(data);
        }
      });
    }
  });
});

//搜索
function search() {
  $("#tb_departments").bootstrapTable('refresh',{pageNumber:1});
  //$("#tb_departments").bootstrapTable('selectPage',1);
}
function refresh() {
  $("#tb_departments").bootstrapTable('refresh');
}
function lookItem(e) {
  layer.open({
    type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
    title : '<span class="text-color">查看分类信息</span>',//请修改span中间的内容
    shadeClose : true,//开启阴影关闭
    closeBtn : 1, //不显示关闭按钮
    shade : 0.6,
    maxmin : false,//开启最大化最小化按钮
    area : [ '60%', '80%' ],//此处可以改为100%，该数值按UI图比例算出
    content : '${gateway}/cate/view?id='+e//如果不想出现滚动条['content.html', 'no']
  });
}

TableInit(queryParams).Init('${gateway}/tj/getXyxxList', [
 //第一行
 [{
    field : 'userName',
    title : '学员名称',
    sortable : false,
    colspan:1,
    rowspan:2,
    align: "center",
    valign: 'middle'
  }, {
    title : '课件学习',
    colspan:3,
    rowspan:1
  }, {
    title : '模拟实操',
    colspan:3,
    rowspan:1
  }, {
    title : '学员练习',
    colspan:3,
    rowspan:1
 }],
 //第二行
 [{
   field : 'kjCount',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习次数'
 }, {
   field : 'allKj',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习总数'
 }, {
   field : 'kjRatio',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习占比'
 }, {
   field : 'mnscCount',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习次数'
 }, {
   field : 'allMnsc',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习总数'
 }, {
   field : 'mnscRatio',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '学习占比'
 }, {
   field : 'sjCount',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '练习次数'
 }, {
   field : 'allSj',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '练习总数'
 }, {
   field : 'sjRatio',
   align: 'right',
   formatter: formatNumAlignRight,
   title : '练习占比'
 }]
]);

function queryParams(params) {
  var selectedValues = [];
  var count=$("#userIds option").length;
  for(var i=0;i<count;i++){
    if ($("#userIds").get(0).options[i].selected) {
      selectedValues.push($("#userIds").get(0).options[i].value);
    }
  }
  var data={
    //组织其他参数
    userIds: selectedValues.join(","),
    date1: $("#date1").find("input").val(),
    date2: $("#date2").find("input").val(),
    limit : params.limit, //页面大小
    offset : params.offset //页码
  };
  return data;
}
function formatNumAlignRight(value) {
  return '<span style="padding-right:15x;">'+value+'</span>'
}
</script>
</body>
</html>