<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>在线学习</title>
  <!-- <!-- 1 bootstrap的css -->
  <link rel="stylesheet" href="/web/bootstrap/css/bootstrap.css">
  <!--公共css-->
  <link rel="stylesheet" href="/web/css/pt-main.css">
  <link rel="stylesheet" href="/web/css/index1.css">
  <!--页面css-->
  <link rel="stylesheet" href="/web/css/trainingCourseware.css">
  <!--引入字体的css-->
  <link rel="stylesheet" href="/web/bootstrap/fonts/iconfont.css">
  <script type="text/javascript" src="/web/js/jquery-1.12.4.js"></script>
  <!--bootstrap的js-->
  <script type="text/javascript" src="/web/bootstrap/js/bootstrap.min.js"></script>
  <!--页面js-->
  <script type="text/javascript" src="/web/js/main.js"></script>
<style>
html {overflow: hidden;}
body {background: white;}
</style>
</head>

<body>
<!--主视口 -->
<div class="pt-view pt-open">
  <!--主窗口导航条开始-->
  <ul class="nav" id="myTab">
  <!--
    <li class="active"><a href="#allClassification" data-toggle="tab" class="active1">全部分类</a></li>
    <li><a href="#statuteClass" data-toggle="tab">法规类</a></li>
    <li><a href="#policyCategory" data-toggle="tab">政策类</a></li>
    <li><a href="#chargeClass" data-toggle="tab">收费类</a></li>
    <li><a href="#vogue" data-toggle="tab">风行类</a></li>
    <li><a href="#tallyClass" data-toggle="tab">理货类</a></li>
    <li><a href="#exportClass" data-toggle="tab">出口类</a></li>
    <li><a href="#importClass" data-toggle="tab">进口类</a></li>
  -->
    <li><a href="javascript:void(0)" data-toggle="tab" class="active1" cateId="">全部分类</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" cateId="1">法规类</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" cateId="2">政策类</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" cateId="3">收费类</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" cateId="4">风行类</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" cateId="5">理货类</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" cateId="6">出口类</a></li>
    <li><a href="javascript:void(0)" data-toggle="tab" cateId="7">进口类</a></li>
  </ul>
  <!--搜索框-->
  <div class="search_input">
    <span class="search_left"><input type="text" id="searchStr" style="padding-left:10px;"></span>
    <span class="search_right">
      <span>
        <img src="/web/images/sousu1.png"/>
        <span class="search">搜索</span>
      </span>
    </span>
  </div>
  <!--内容窗口-->
  <div class="tab-content">
  </div>
</div>
<!--主视口 结束-->

<script>
$(document).ready(function(){
/*
$.ajax({
  type: 'post',
  url: "/train/getCateData",
  success: function (data) { //成功后的回调函数
    var returnCode= data.returnCode;
    var str = "";
    if (returnCode == '00') {
      var data = data.data;
      var dataList = data.list;
      console.log(dataList);
      var tabHtml="";
      for(var i= 0;i<dataList.length;i++){
        if (dataList[i].parentId=='0') {
          //tabHtml+="<li><a href='javascript:void(0);' onclick='changeTab(/""+dataList[i].id+"'/")' data-toggle='tab' id='"+dataList[i].id+"' aria-expanded=false></a>"+dataList[i].name+"</li>"
        }
      }
      tabHtml="<li><a href='javascript:void(0);' onclick='changeTab(/"/")' data-toggle='tab' id='' aria-expanded=false>全部分类</a></li>"+tabHtml;
      $("#myTab").html(tabHtml);
    } else if (returnCode == '01') {

    }
  },
  error: function (e) {
    console.log("网络连接失败！");
  }
});
*/

  $("a[cateId='']").click();
  $(".search").click(function(){
    getKjList($(".active1").attr("cateId"), $("#searchStr").val());
  });
});

$('#myTab a').click(function () {
  $(this).addClass('active1');
  getKjList($(this).attr("cateId"), $("#searchStr").val());
});

function getKjList(cateId, searchStr) {
  if (!cateId) cateId="";
  if (!searchStr) searchStr="";
  var _data={
    "categoryId":cateId,
    "searchStr":searchStr,
    "pageNo":-1 //不分页
  };
  $.ajax({
    type: 'post',
    url: "/train/getKjList",
    data: _data,
    dataType:'json',
    success: function (data) { //成功后的回调函数
      var returnCode= data.returnCode;
      $(".tab-content").html("");
      if (returnCode == '00') {
        var kjList = data.data;
        console.log(kjList);
        var kjPannelHtml=$("<div class='tab-pane active' id='allClassification'></div>");
        var newRow, newTop;
        for (var i=0; i<kjList.length; i++) {
          if (i%3==0) {
            if (i!=0) kjPannelHtml.append(newTop);
            if (i==0) newTop=$("<div class='top'></div>");
            else newTop=$("<div class='bottom'></div>");
            newRow=$("<div class='row'></div>");
            newTop.append(newRow);
          }
          var oneJqueryHtmlObj=getOneItem(kjList[i]);
          newRow.append(oneJqueryHtmlObj);
        }
        kjPannelHtml.append(newTop);
        $(".tab-content").append(kjPannelHtml);
      } else if (returnCode == '01') {

      }
    },
    error: function (e) {
      console.log("网络连接失败！");
    }
  });
}

function getOneItem(itemData) {
  var $itemHtmlObj=$("<div class='col-md-4'></div>");
  if (itemData.imgUrl) $itemHtmlObj.append("<img src='"+itemData.imgUrl+"' alt='' onclick='toCourse1(\""+itemData.id+"\")'>");
  else $itemHtmlObj.append("<img src='/web/images/111.jpg' alt='' onclick='toCourse1(\""+itemData.id+"\")'>");
  $itemHtmlObj.append('<div class="name_title"><div class="name_top"><p>'+itemData.name+'</p><div class="name_detail">'
      +'<span class="img_left"><img src="/web/images/rs.jpg" alt=""></span><span class="rs">2.5万</span><span>'+itemData.createDate+'</span></div></div></div>');
  return $itemHtmlObj;
}

</script>
</body>
</html>