<!DOCTYPE html>
<html lang="en">
<head>
  <!--在线学习-->
  <!--培训内容的详细页-->
  <meta charset="UTF-8">
  <title>课程内容</title>
  <!-- <!-- 1 bootstrap的css -->
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
  <!--公共css-->
  <link rel="stylesheet" href="css/pt-main.css">
  <!--页面-->
  <link rel="stylesheet" href="css/paymentList.css">
  <link rel="stylesheet" href="css/courseContent.css">
  <!--引入字体的css-->
  <link rel="stylesheet" href="./bootstrap/fonts/iconfont.css">

  <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
  <!--bootstrap的js-->
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <!--页面js-->
  <script type="text/javascript" src="./js/main.js"></script>
</head>
<body>
<!-- 头部条 -->
<div class="pt-topbar">
  <div class="nav_header">
    <!--左侧系统名称-->
    <div class="pt-fl pt-system-info">
      <div class="pt-logo pt-fl"><img src="./images/LOGO@2x.png" alt=""></div>
      <div class="pt-slogen pt-fr">天津市港口统一收费服务平台-<strong>企业中心</strong></div>
    </div>
    <!--右侧用户信息-->
    <div class="pt-fr pt-user-info">
      <div class="pt-settings pt-fr"><img src="" alt=""></div>
    </div>
  </div>
</div>
<!-- 头部条  结束 -->
<div class="courseware">
    <!--课件中心-->
    <div class="courseware_center">
       <span>课件中心
       <div class="border"></div>
       </span>
    </div>
    <!--上部分内容-->
    <div class="detail_top">
      <div class="course_img">
        <img src="./images/111.jpg" alt="">
      </div>
      <div class="course_right">
        <span class="course_name">尚巍手书及课程报告</span>
        <div class="course_mid">
          <span>
              <img src="./images/rs.jpg" alt="" class="course_right_img">
          </span>
          <span class="course1">2.5万</span>
          <span class="course_time">2018年8月14发布</span>
        </div>
        <div class="course_description">
          课程说明  课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明课程说明课程说明
          课程说明  课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明 课程说明课程说明课程说明
        </div>
        <div class="study_btn">
          <button class="start_study btn w120" onclick="toLearning()">开始学习</button>
          <button class="now_study btn w120"  onclick="toLearning()">马上练习</button>
        </div>
      </div>
    </div>
    <!--空隙-->
    <div class="gap">
        <span>同类课程
         <div class="border"> </div>
        </span>
    </div>
    <!--下部分内容-->
    <div class="detail_bottom">
      <div class="row">
        <div class="col-md-3">
          <img src="./images/zxc.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="./images/zxc.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="./images/zxc.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="./images/zxc.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="./images/zxc.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="name_title">
            <div class="name_top">
              <p>尚巍手书及课程预告</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="name_title">
            <div class="name_top">
              <p>尚巍手书及课程预告</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="name_title">
            <div class="name_top">
              <p>尚巍手书及课程预告</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="name_title">
            <div class="name_top">
              <p>尚巍手书及课程预告</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="name_title">
            <div class="name_top">
              <p>尚巍手书及课程预告</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--相关练习-->
    <div class="related_exercises">
        <span>相关练习
            <div class="border"></div>
        </span>
    </div>
  <div class="paymentList_bottom">
    <div class="relevant_practice" id="show1">
      <div class="practice_title practice_title1">
        <p>练习题目xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
        <div class="answer">
          <span><input type="checkbox"></span>
          <span>答案xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
          <span class="left"><input type="checkbox"></span>
          <span>答案xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
        </div>
        <div class="answer answer1">
          <span><input type="checkbox"></span>
          <span>答案xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
          <span class="left"><input type="checkbox"></span>
          <span>答案xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
        </div>
      </div>
      <div class="practice_title practice_title2">
        <span class="practice_btn" onclick="toStartPractice()">现在开始练习</span>
      </div>
    </div>
  </div>
  </div>
<!--公共底部-->
<div class="pt-footer">
  <div class="pt-p">版权归属 @ 天津市港口统一管理中心 CopyRight 2018 技术支持电话：400-888-5678</div>
</div>
<script>
  function toLearning() {
    window.location.href ="onlineLearning.html"
  }
  function  toStartPractice() {
      window.open("entryPractice.html")
  }
</script>
</body>
</html>