<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>在线练习</title>

<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css" rel="stylesheet">
<link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css" rel="stylesheet">
<link href="${gateway}/src/css/pt-main.css" rel="stylesheet">

<script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<script src="${gateway}/libs/layer/layer.js"></script>
<link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet">
<script src="${gateway}/src/js/main.js"></script>

<style>
.datetimepicker-dropdown-bottom-right {
  margin-top: 2px;
}
</style>
</head>

<body>
  <div class="pt-page">
    <div class="pt-root-container">
      <!--主视口 -->
      <div class="pt-view pt-open" style="padding-left: 0px;">
        <!--带横线标题-->
        <div class="pt-bread">
          <h3>在线练习</h3>
          <!-- 添加展开按钮
          <button type="button" id="ptsearchfilter" class="btn btn-primary pt-zkbtn">展开</button> -->
        </div>
        <div class="pt-main pt-padding">
          <!--搜索条-->
          <div class="pt-section-search">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
                <form class="form-inline">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" for="catName">分&emsp;&emsp;类</label>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <select id="catName" class="selectpicker" title="请选择" data-actions-box="true" data-live-search="true" multiple >
                          <!-- <option value="课件列表">课件列表</option>
                          <option value="课件展示">课件展示</option>
                          <option value="模拟实操列表">模拟实操列表</option>
                          <option value="模拟实操展示">模拟实操展示</option>
                          <option value="在线练习">在线练习</option>
                          <option value="学员概况">学员概况</option>
                          <option value="管理端首页">管理端首页</option> -->
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="createTime">考试时间</label>
                      <div id="date1" class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="begin" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height:40px"><i class="icon-th"></i></span>
                      </div>
                      <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1" for="createTime">~</label>
                      <div id="date2" class="date col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:0px;" data-date="2018-09-30" data-date-format="yyyy-mm-dd">
                        <input class="form-control datetimepicker" name="end" size="16" type="text" value="" style="padding-left:10px;">
                        <span class="add-on" style="height:40px"><i class="icon-th"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                      <button type="button" class="btn btn-default btn-primary w100" onclick="search()">搜索</button>
                      <button type="button" class="btn btn-default btn-primary w100" style="background: #f46227;border-color:#f46227;" onclick="toStartPractice()">做练习</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--内容区容器-->
          <div class="pt-main">
            <!--bootstrap 表格-->
            <div class="row">
              <div class="col-sm-12">
                <div class="table-wrap">
                  <table id="tb_departments"></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--主视口 结束-->
    </div>
  </div>

<script>
$(function() {
  $(".dropdown-menu").on('click', function (e) {
    e.stopPropagation();
  });
  //时间选择
  $('.datetimepicker').datetimepicker({
    language: 'zh',
    format: 'yyyy-mm-dd',
    minView: "month",
    pickDate: true,
    pickTime: false,
    todayBtn: true,
    autoclose: true
  });
  //初始化分类
  initCate();
  //处理列表
  initTable();
});

function initCate() {
  $.ajax({
    type : "post",
    url: '${gateway}/train/getTree/ptTree',
    data: {type:0},
    dataType : "json",
    success : function(result) {
      if (result.returnCode=='00') {
        if (result.data&&result.data.tree&&result.data.tree.nodes) {
          var l=result.data.tree.nodes;
          for (var i=0;i<l.length;i++) {
            $('#catName.selectpicker').append("<option value="+l[i].id+">"+l[i].text+"</option>");
          }
          $('#catName.selectpicker').selectpicker('refresh')
        }
      }
    },
    error : function() {
    }
  });
}
//搜索
function search() {
  $("#tb_departments").bootstrapTable('refresh',{pageNumber:1});
}
//刷新
function refresh() {
  $("#tb_departments").bootstrapTable('refresh');
}
function toStartPractice() {
  window.open("./entryPractice.html")
}

function initTable() {
  TableInit(queryParams).Init('${gateway}/sj/getSjList', [
  {
    field : 'sjName',
    title : '名称',
    sortable : false,
    align: 'left',
    formatter: function(value, row, index) {
      return '<span style="padding-left:15x;">'+value+'</span>'
    }
  }, {
    field : 'diffCount',
    title : '难度',
    sortable : false
  }, {
    field : 'tmCount',
    title : '题目数量',
    sortable : false
  }, {
    field : 'rightCount',
    title : '答对数量',
    sortable : false
  }, {
    field : 'state',
    title : '状态',
    sortable : false,
    formatter: function(value) {
      if (value==0) return '未答题'
      else
      if (value==1) return '未答题'
      else
      if (value==2) return '已答题'
      else
      if (value==3) return '答题挂起'
      return value;
    }
  }, {
    field : 'createDate',
    title : '时间',
    sortable : false
  }, {
    field : 'id',
    title : '操作',
    formatter : operateFormatter
  }]);
}

function queryParams(params) {
  var data={};
  var selectedValues = [];
  var count=$("#catName option").length;
  for(var i=0;i<count;i++){
    if ($("#catName").get(0).options[i].selected) {
      selectedValues.push($("#catName").get(0).options[i].text);
    }
  }
  data.catNames=selectedValues.join(",");
  data.date1=$("#date1").find("input").val();
  data.date2=$("#date2").find("input").val();

  data.limit=params.limit; //页面大小
  data.offset=params.offset; //页码
  return data;
}

//2.返回操作模版[按钮颜色暂不确定]
function operateFormatter(value, row, index) {
  var btnArray=[];
  if (row.state==0||row.state==1) {//答题
    btnArray.push('<button type="button" class="btn btn-xs btn-default btn-link" onclick="openSj(\''+row.id+'\', 1)">答题</button>');
    btnArray.push('<button type="button" class="btn btn-xs btn-default btn-link-red" onclick="delSj(\''+row.id+'\')">删除</button>');
  } else 
  if (row.state==2||row.state==3) {
    btnArray.push('<button type="button" class="btn btn-xs btn-default btn-link" onclick="openSj(\''+row.id+'\', 2)">查看</button>');
  }
  return btnArray.join('');
}

function delSj(id) {
  layer.confirm('确定要删除吗？', {btn : [ '确定', '取消' ]},
    function(index) {
      layer.close(index);
      ajaxDel(id);
    }
  );
  function ajaxDel(id) {
    $.ajax({
      type : "post",
      url : '${gateway}/sj/delSj',
      data: {"id":id},
      dataType : "json",
      success : function(result) {
        if (result.returnCode == '00') {
          layer.msg("删除成功!");
          refresh();
        } else {
          layer.msg(result.messageInfo);
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) { //失败回调函数
        var m="系统错误：\nstatu=" + XMLHttpRequest.status + "\nreadyState=" + XMLHttpRequest.readyState + "\ntext=" + textStatus + "\nerrThrown=" + errorThrown;
        layer.msg(m);
      }
    });
  }
}

function openSj(id, type) {
  window.open("./entryPractice.html?type="+type+"&id="+id);
}
</script>
</body>
</html>