<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>模拟实操</title>
  <!-- <!-- 1 bootstrap的css -->
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
  <!--公共页面css-->
  <link rel="stylesheet" href="css/pt-main.css">
  <link rel="stylesheet" href="css/index1.css">
  <!--独立页面css-->
  <link rel="stylesheet" href="css/index.css">
  <!--引入字体的css-->
  <link rel="stylesheet" href="./bootstrap/fonts/iconfont.css">
  <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
  <!--bootstrap的js-->
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <!--页面js-->
  <script type="text/javascript" src="./js/main.js"></script>
  <style>
    body{
      background: white;
    }
    html{
      overflow: hidden;
    }
  </style>
</head>
<body>
<!--主菜单内容-->
  <div class="pt-view pt-open">
    <!--模拟实操标题-->
    <div class="action">
      <span>模拟实操</span>
      <div class="border"></div>
    </div>
    <!--模拟实操内容-->
    <div class="tab-content">
      <div class="tab-pane active" id="basicPlatform" >
        <div class="row">
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 explain ">
            <p>企业注册</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start" onclick="toSimulation2()">开始模拟实操</div>
          </div>
          <div class="col-md-3 explain" style="margin-left: 10px">
            <p>收费清单录入</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start"  onclick="toSimulation1()">开始模拟实操</div>
          </div>
          <div class="col-md-3 explain explain1" style="margin-left: 10px">
            <p>缴费清单</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start">开始模拟实操</div>
          </div>
          <div class="col-md-3 explain explain1" style="margin-left: 11px">
            <p>作业放行</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start">开始模拟实操</div>
          </div>
        </div>
      </div>
      <div class="tab_bottom">
        <div class="row">
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
          <div class="col-md-3">
            <img src="./images/111.jpg" alt="">
            <div class="model_bg ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 explain ">
            <p>平台登录</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start">开始模拟实操</div>
          </div>
          <div class="col-md-3 explain" style="margin-left: 10px">
            <p>费项设置</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start">开始模拟实操</div>
          </div>
          <div class="col-md-3 explain explain1" style="margin-left: 10px">
            <p>缴费清单</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start">开始模拟实操</div>
          </div>
          <div class="col-md-3 explain explain1" style="margin-left: 11px">
            <p>作业放行</p>
            <div class="system">系统说明系统说明系统说明系统说明系统说明系统说明</div>
            <div class="start">开始模拟实操</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    //  收费清单录入模拟实操
  function toSimulation1() {
    window.open("./mnscList/sfqdlr/loading.html")
  }
    //企业注册模拟实操
    function toSimulation2() {
        window.open("./mnscList/qyzcsc/loading.html")
    }
</script>
</body>
</html>