<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学员概况</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./libs/bootstrap-3.3.7-dist/css/bootstrap.css">
  <link rel="stylesheet" href="./tjsrc/css/rest.css">
  <link rel="stylesheet" href="./tjsrc/css/xygk.css">
  
  <script src="./libs/jquery/jquery-1.12.4.js"></script>
  <script src="./libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body style="overflow:auto;">
  <div class="container-fluid">
    <ul class="top row">
        <li class="col-xs-4" onclick="javascript:location.href='${gateway}/xxrz4user?objTypes=ts_mnsc'" style="cursor:pointer">
            <img src="./tjsrc/images/01.jpg">
            <span id="mnsc">0次</span>
        </li>
        <li class="col-xs-4" onclick="javascript:location.href='${gateway}/xxrz4user?objTypes=ts_kj'" style="cursor:pointer">
            <img src="./tjsrc/images/02.jpg">
            <span id="zxxx">0次</span>
        </li>
        <li class="col-xs-4" onclick="javascript:location.href='${gateway}/xxrz4user?objTypes=q_sj'" style="cursor:pointer">
            <img src="./tjsrc/images/03.jpg">
            <span id="zxlx">0次</span>
        </li>
    </ul>
    <div class="center row">
        <div class="left col-xs-6">
            <h2 class="title"><span><a href = "practice">最新模拟实操</a></span></h2>
            <ul class="row listbox" id="mnscList">
              <!-- <li class="col-sm-6" style="padding-left:0;">
                <div class="con">
                    <div class="pic"><img src="../../tjsrc/images/zxc.png"></div>
                    <div class="botoom">
                      <h2>课件预告</h2>
                      <div class="row-box">
                            <div class="left">
                                <span class="eay"><img src="../../tjsrc/images/rs.jpg"></span>
                                <span class="num">2.5万</span>
                            </div>
                            <div class="right">
                                <span>2018-09-27</span>发布
                            </div>
                        </div>
                    </div>
                </div>        
              </li>
              <li class="col-sm-6" style="padding-right:0;">
                <div class="con">
                    <div class="pic"><img src="../../tjsrc/images/zxc.png"></div>
                    <div class="botoom">
                      <h2>课件预告</h2>
                      <div class="row-box">
                            <div class="left">
                                <span class="eay"><img src="../../tjsrc/images/rs.jpg"></span>
                                <span class="num">2.5万</span>
                            </div>
                            <div class="right">
                                <span>2018-09-27</span>发布
                            </div>
                        </div>
                    </div>
                </div>        
              </li> -->
            </ul>
        </div>
        <div class="right col-xs-6">
            <h2 class="title"><span><a href = "courseware">最新学习课件</a></span></h2>
            <ul class="row listbox" id="kjList">
            </ul>
        </div>
    </div>
    <div class="xygk-bottom">
      <p>我的日志</p>
      <ul class="logList"></ul>
    </div>
  </div>
</body>

<script>
$(function() {
  //统计数据
  logVisitCount();
  //最新模拟实操数据
  getMnscList(2);
  //最新课件数据
  getKjList(2);
  //我的日志
  getMyLogVisitList(10);
});

//返回项目所访问次数
function logVisitCount() {
  mnscCount="0次";
  zxxxCount="0次";
  zxlxCount="0次";
  $.ajax({
    type: 'post',
    url: "${gateway}/train/getLogVisitCount",
    dataType: 'json',
    cache: false,
    success: function(data) {
      //状态
      var returnCode=data.returnCode;
      if (returnCode=='00') {
        var countList=data.data;
        for (var i=0; i<countList.length; i++) {
          if (countList[i].OBJ_TYPE=='ts_mnsc') {
            mnscCount=countList[i].COUNT+"次";
          } else 
          if (countList[i].OBJ_TYPE=='q_sj') {
            zxlxCount=countList[i].COUNT+"次";
          } else 
          if (countList[i].OBJ_TYPE=='ts_kj') {
            zxxxCount=countList[i].COUNT+"次";
          }
        }
      }
      $("#mnsc").html(mnscCount);
      $("#zxxx").html(zxxxCount);
      $("#zxlx").html(zxlxCount);
    },
    error: function() { //失败回调函数
      $("#mnsc").html(mnscCount);
      $("#zxxx").html(zxxxCount);
      $("#zxlx").html(zxlxCount);
    }
  });
}

function getMnscList(rownum) {
  var data={"rownum": rownum};
  $.ajax({
    type: 'post',
    url: "${gateway}/train/getNewMnscList",
    data: data,
    dataType: 'json',
    cache: false,
    success: function(res) {
      var html="";
      if (res.returnCode=='00') {
        var html = ""
        for(var j=0;j<res.data.length;j++) {
          html+= '<li class="col-sm-6s" style="padding-left:0;">'
            +'<div class="con" style="cursor:pointer" onclick="toSimulation(\''+res.data[j].id+'\')">'
              +'<div class="pic"><img src="'+(res.data[j].imgUrl || "./tjsrc/images/mnsc_default.jpg")+'"></div>'
              +'<div class="botoom">'
                +'<h2>'+res.data[j].mnscName+'</h2>'
                +'<div class="row-box">'
                  +'<div class="left">'
                    +'<span class="eay" title="学习次数"><img src="./tjsrc/images/rs.jpg"></span>'
                    +'<span class="num" title="学习次数">'+res.data[j].logVisitCount+'</span>'
                  +'</div>'
                  +'<div class="right">'
                    +' <span>'+(res.data[j].createDate).substring(0,10)+'</span>'
                  +'</div>'
                +'</div>'
              +'</div>'
            +'</div>'
          +'</li>'
        }
        $("#mnscList").html(html)
      }
    },
    error: function() { //失败回调函数
      alert("获取信息失败");
    }
  });
}

//课件最新数据
function getKjList(rownum) {
  var data={ "rownum": rownum };
  $ .ajax({
    type: 'post',
    url: "./train/getNewKjList",
    data: data,
    dataType: 'json',
    cache: false,
    success: function(res) {
      if (res.returnCode=='00') {
        var html = ""
        for(var j=0;j<res.data.length;j++) {
          html+= '<li class="col-sm-6s" style="padding-left:0;">'
            +'<div class="con" style="cursor:pointer" onclick="toCourse(\''+res.data[j].id+'\')">'
              +'<div class="pic"><img src="'+(res.data[j].imgUrl || "./tjsrc/images/kj_default.jpg")+'"></div>'
              +'<div class="botoom">'
                +'<h2>'+res.data[j].kjName+'</h2>'
                +'<div class="row-box">'
                  +'<div class="left">'
                    +'<span class="eay" title="学习次数"><img src="./tjsrc/images/rs.jpg"></span>'
                    +'<span class="num" title="学习次数">'+res.data[j].logVisitCount+'</span>'
                  +'</div>'
                  +'<div class="right">'
                    +' <span>'+(res.data[j].createDate).substring(0,10)+'</span>'
                  +'</div>'
                +'</div>'
              +'</div>'
            +'</div>'
          +'</li>'
        }
        $("#kjList").html(html)
      }
    },
    error: function() { //失败回调函数
      alert("获取信息失败");
    }
  });
}

function getMyLogVisitList(rownum) {
  var data = {"rownum": rownum};
  $.ajax({
    type: "get",
    url: "./train/getLogVisitList",
    data: data,
    dataType: "json",
    success: function (res) {
      if(res.returnCode==00) {
        var html = ""
        for(var j=0;j<res.data.length;j++) {
          var visitTime = res.data[j].visitTime;
          if(visitTime!=null && visitTime!='' && visitTime!=undefined){
            visitTime = visitTime.substring(0,visitTime.length-2);
          }
          if (res.data[j].objType=='在线练习') {
            html+= '<li class="row"><div class="right col-xs-6">我练习了：<span>习题【'+res.data[j].objName+'】</span></div><div class="col-xs-6 date">'+visitTime+'</div></li>'
          } else
          if (res.data[j].objType=='模拟实操展示'||res.data[j].objType=='模拟实操学习') {
            html+= '<li class="row"><div class="right col-xs-6">我操作了：<span>模拟实操【'+res.data[j].objName+'】</span></div><div class="col-xs-6 date">'+visitTime+'</div></li>'
          } else
          if (res.data[j].objType=='课件展示'||res.data[j].objType=='课件学习') {
          html+= '<li class="row"><div class="right col-xs-6">我学习了：<span>课件【'+res.data[j].objName+'】</span></div><div class="col-xs-6 date">'+visitTime+'</div></li>'
          }
        }
        $(".logList").html(html)
      }
    }
  });
}

function toCourse(id) {
  if (!id) return;
  if (id=='null') return;
  window.open("./courseContent.html?id="+id, "_blank");
}
function toSimulation(id) {
  if (!id) return;
  if (id=='null') return;
//window.open(url);
  window.open("./mnscContent.html?objId="+id, "_blank");
}
</script>

<script type="text/javascript">
var _gatherData={};
_gatherData.visitModuleId="学员概况";
_gatherData.objType="student_profile";
(function() {
  var ma=document.createElement('script');
  ma.type='text/javascript';
  ma.async=true;
  ma.src="./tjsrc/js/ma.js";
  var s=document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ma, s);
})();
</script>
</html>