<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--全部分类-->
<div class="tab-pane active" id="allClassification" >
  <div class="top">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--法规类-->
<div class="tab-pane " id="statuteClass" >
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--政策类-->
<div class="tab-pane " id="policyCategory">
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--收费类-->
<div class="tab-pane " id="chargeClass">
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--风行类-->
<div class="tab-pane " id="vogue">
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--理货类-->
<div class="tab-pane " id="tallyClass">
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/111.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--出口类-->
<div class="tab-pane " id="exportClass">
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/222.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--进口类-->
<div class="tab-pane " id="importClass">
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row">
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
      <div class="col-md-4">
        <img src="./web/images/333.jpg" alt="" onclick="toCourse1()">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="name_title">
          <div class="name_top">
            <p>尚巍手书及课件报告</p>
            <div class="name_detail">
              <span class="img_left"><img src="./web/images/rs.jpg" alt=""></span>
              <span class="rs">2.5万</span>
              <span>2018年8月14日发布</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

$('#myTab a').click(function (e) {
e.preventDefault()
$(this).tab('show')
$(this).addClass('active1')
})
function toCourse1() {
window.open("courseContent.html")
}

</html>