<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tianjin.unifiedfee.ot.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="cn.tianjin.unifiedfee.ot.entity.Category" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="isvalid" property="isvalid" jdbcType="INTEGER" />
    <result column="create_by" property="createId" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="update_by" property="updateId" jdbcType="VARCHAR" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, parent_id, parent_ids, name, sort, isvalid, create_by, create_name, create_date, update_by, update_name, update_date, remarks
  </sql>

  <select id="getAllList" resultType="cn.tianjin.unifiedfee.ot.entity.Category">
    select <include refid="Base_Column_List"/> from category
  </select>

  <select id="getAllListWithMap" resultType="java.util.HashMap">
    select id, parent_id, parent_ids, name, sort, isvalid, create_by, create_name, create_date, update_by, update_name, update_date, remarks from category
  </select>

  <select id="getListWithMap" resultType="java.util.HashMap" parameterType="Map">
    select <include refid="Base_Column_List"/> from category
    <where> isValid!=2
      <if test="cataName!=null and cataName!=''">
        and name like '%${cateName}%'
      </if>
      <if test="createName!=null and createName!=''">
        and create_name like '%${createName}%'
      </if>
      <if test="parentId!=null and parentId!='' and parentId!='0'">
        and parent_id=#{parentId,jdbcType=VARCHAR}
      </if>
      <if test="valid!=null and valid!=''">
        and isvalid=#{valid,jdbcType=INTEGER}
      </if>
      <if test="keyword!=null and keyword!=''">
        and (name like '%${keyword}%' or remarks like '%${keyword}%' or update_name like '%${keyword}%' or create_name like '%${keyword}%')
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="cn.tianjin.unifiedfee.ot.entity.Category" >
    insert into category (id, parent_id, parent_ids, 
      name, sort, isvalid, 
      create_by, create_name, create_date, 
      update_by, update_name, update_date, 
      remarks)
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{parentIds,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{isvalid,jdbcType=INTEGER}, 
      #{createId,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateId,jdbcType=VARCHAR}, #{updateName,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tianjin.unifiedfee.ot.entity.Category" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="parentIds != null" >
        parent_ids,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="createId != null" >
        create_by,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="updateId != null" >
        update_by,
      </if>
      <if test="updateName != null" >
        update_name,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      create_date,
      update_date,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=VARCHAR},
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null" >
        #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      sysdate,
      sysdate,
    </trim>
  </insert>

  <update id="changeValid"  parameterType="cn.tianjin.unifiedfee.ot.entity.Category">
    update category set isvalid=#{isvalid,jdbcType=INTEGER}, update_date=sysdate
    where id=#{id,jdbcType=VARCHAR}
  </update>

  <update id="update"  parameterType="cn.tianjin.unifiedfee.ot.entity.Category">
    update category set 
    <trim suffixOverrides="," >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="parentIds != null" >
        parent_ids = #{parentIds,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sort!=null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_by = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_mame = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateId != null" >
        update_by = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null" >
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      update_date=sysdate,
    </trim>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>