<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tianjin.unifiedfee.ot.mapper.KjMapper">
	<resultMap id="BaseResultMap" type="cn.tianjin.unifiedfee.ot.entity.Kj">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="kj_name" property="kjName" jdbcType="VARCHAR" />
		<result column="kj_cat_id" property="kjCatId" jdbcType="VARCHAR" />
		<result column="kj_cat_names" property="kjCatNames" jdbcType="VARCHAR" />
		<result column="expire_date" property="expireDate" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_name" property="createName" jdbcType="VARCHAR" />
		<result column="kj_html" property="kjHtml" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Blob_Column_List">
		id, kj_name, kj_cat_id,
		kj_cat_names, expire_date, remarks,
		state, score, sort, create_date,
		create_by, create_name, kj_html
	</sql>
	<insert id="insert" parameterType="cn.tianjin.unifiedfee.ot.entity.Kj">
		insert into ts_KJ
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="kjName != null">
				kj_name,
			</if>
			<if test="kjCatId != null">
				kj_cat_id,
			</if>
			<if test="kjCatNames != null">
				kj_cat_names,
			</if>
			<if test="expireDate != null">
				expire_date,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createName != null">
				create_name,
			</if>
			<if test="kjHtml != null">
				kj_html,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="kjName != null">
				#{kjName,jdbcType=VARCHAR},
			</if>
			<if test="kjCatId != null">
				#{kjCatId,jdbcType=VARCHAR},
			</if>
			<if test="kjCatNames != null">
				#{kjCatNames,jdbcType=VARCHAR},
			</if>
			<if test="expireDate != null">
				#{expireDate,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				#{score,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=DATE},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createName != null">
				#{createName,jdbcType=VARCHAR},
			</if>
			<if test="kjHtml != null">
				#{kjHtml,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update">
		update ts_KJ
		<set>
			<if test="kjName != null">
				kj_name = #{kjName},
			</if>
			<if test="kjCatId != null">
				kj_cat_id = #{kjCatId},
			</if>
			<if test="kjCatNames != null">
				kj_cat_names = #{kjCatNames},
			</if>
			<if test="expireDate != null">
				expire_date = #{expireDate},
			</if>
			<if test="remarks != null">
				remarks =#{remarks},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
			<if test="score != null">
				score = #{score},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="createDate != null">
				create_date =#{createDate},
			</if>
			<if test="createBy != null">
				create_by = #{createBy},
			</if>
			<if test="createName != null">
				create_name =#{createName},
			</if>
			<if test="kjHtml != null">
				kj_html = #{kjHtml},
			</if>
		</set>
		where id = #{id}
	</update>

	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Blob_Column_List" />
		from ts_KJ
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="delete" parameterType="java.lang.String">
		delete from ts_KJ
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>

	<select id="getPageData" resultMap="BaseResultMap">
		select
		*
		from ts_KJ
		where 1=1
		<if test="kjName != null and kjName != ''">
			and instr(kj_name,#{kjName})>0
		</if>
		order by create_date desc
	</select>

	<select id="getDataListByIds" resultMap="BaseResultMap">
		select
		<include refid="Blob_Column_List" />
		from ts_KJ
		where instr(#{ids},id)>0
	</select>

	<select id="find4Web" resultMap="BaseResultMap" parameterType="Map">
		select
		<include refid="Blob_Column_List" />
		from ts_KJ
		where 1=1
		<if test="flQuery!=null and flQuery!=''">
			and (${flQuery})
		</if>
		<if test="searchStr!=null and searchStr!=''">
			and (kj_name like '%${searchStr}%' or kj_cat_names like
			'%${searchStr}%' or remarks like '%${searchStr}%')
		</if>
		and state=2
		order by sort desc, create_date desc
	</select>

	<select id="findRefKj4Web" resultMap="BaseResultMap"
		parameterType="Map">
		select a.id, a.kj_name, a.kj_cat_id, a.kj_cat_names,
		a.expire_date,
		a.remarks, a.state, a.score, a.sort, a.create_date,
		a.create_by,
		a.create_name, a.kj_html
		from ts_KJ a, TS_KJ_REF_SOURCE b
		where a.id=b.ref_id and upper(b.ref_tabname)='TS_KJ' and
		b.kj_id=#{kjId}
		order by a.sort desc, a.create_date desc
	</select>

	<select id="getKjList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Blob_Column_List" />
		from ts_KJ
		where rownum &lt;= #{rownum}
		order by create_date desc
	</select>
</mapper>