<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tianjin.unifiedfee.ot.mapper.MnscMapper">
	<resultMap id="BaseResultMap" type="cn.tianjin.unifiedfee.ot.entity.Mnsc">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="mnsc_name" property="mnscName" jdbcType="VARCHAR" />
		<result column="mnsc_cat_id" property="mnscCatId" jdbcType="VARCHAR" />
		<result column="mnsc_cat_names" property="mnscCatNames"
			jdbcType="VARCHAR" />
		<result column="expire_date" property="expireDate" jdbcType="VARCHAR" />
		<result column="mnsc_url" property="mnscUrl" jdbcType="VARCHAR" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_name" property="createName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mnsc_name, mnsc_cat_id, mnsc_cat_names, expire_date,
		mnsc_url,
		remarks, state, score, sort, create_date, create_by,
		create_name
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ts_MNSC
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="cn.tianjin.unifiedfee.ot.entity.Mnsc">
		insert into ts_MNSC
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mnscName != null">
				mnsc_name,
			</if>
			<if test="mnscCatId != null">
				mnsc_cat_id,
			</if>
			<if test="mnscCatNames != null">
				mnsc_cat_names,
			</if>
			<if test="expireDate != null">
				expire_date,
			</if>
			<if test="mnscUrl != null">
				mnsc_url,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="score != null">
				score,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createName != null">
				create_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="mnscName != null">
				#{mnscName,jdbcType=VARCHAR},
			</if>
			<if test="mnscCatId != null">
				#{mnscCatId,jdbcType=VARCHAR},
			</if>
			<if test="mnscCatNames != null">
				#{mnscCatNames,jdbcType=VARCHAR},
			</if>
			<if test="expireDate != null">
				#{expireDate,jdbcType=VARCHAR},
			</if>
			<if test="mnscUrl != null">
				#{mnscUrl,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="score != null">
				#{score,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=DATE},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createName != null">
				#{createName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="cn.tianjin.unifiedfee.ot.entity.Mnsc">
		update ts_MNSC
		<set>
			<if test="mnscName != null">
				mnsc_name = #{mnscName},
			</if>
			<if test="mnscCatId != null">
				mnsc_cat_id = #{mnscCatId},
			</if>
			<if test="mnscCatNames != null">
				mnsc_cat_names = #{mnscCatNames},
			</if>
			<if test="expireDate != null">
				expire_date = #{expireDate},
			</if>
			<if test="mnscUrl != null">
				mnsc_url = #{mnscUrl},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
			<if test="score != null">
				score = #{score},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="createDate != null">
				create_date = #{createDate},
			</if>
			<if test="createBy != null">
				create_by = #{createBy},
			</if>
			<if test="createName != null">
				create_name = #{createName},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from ts_MNSC
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>

	<select id="getPageData" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ts_MNSC
		where 1=1
		<if test="categoryId != '' and categoryId != null">
			and mnsc_cat_id = #{categoryId}
		</if>
		<if test="searchStr != '' and searchStr !=null">
			and instr(mnsc_name,#{searchStr})>0
		</if>
		order by sort desc,create_date desc
	</select>

	<select id="getDataListByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ts_MNSC
		where
		instr(#{ids},id)>0
		order by sort desc,create_date desc
	</select>

	<select id="getMnscList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ts_MNSC
		where rownum &lt;= #{rownum}
		order by sort desc,create_date desc
	</select>
	
	<select id="getNewMnscList" resultType="Map">
	select * from (    
    select
        b.file_url imgUrl, c.cs logVisitCount, ts_MNSC.id, ts_MNSC.mnsc_name mnscName, ts_MNSC.mnsc_cat_names catNames, ts_MNSC.score score, ts_MNSC.remarks remarks,
        ts_MNSC.sort sort, ts_MNSC.create_date createDate, ts_MNSC.create_by createBy, ts_MNSC.create_name createName
        from ts_MNSC
        left join comm_archive b on ts_MNSC.id=b.obj_id and upper(b.obj_tabname)='TS_MNSC' and archive_type='img'
        left join (select obj_type, obj_id, count(*) cs from log_visit group by obj_type, obj_id) c on upper(c.obj_type)='TS_MNSC' and c.obj_id=ts_MNSC.id
    order by ts_MNSC.create_date desc
    ) where rownum &lt;= #{rownum}
	</select>
</mapper>