<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tianjin.unifiedfee.ot.mapper.MnscRefSourceMapper">
	<resultMap id="BaseResultMap" type="cn.tianjin.unifiedfee.ot.entity.MnscRefSource">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="mnsc_id" property="mnscId" jdbcType="VARCHAR" />
		<result column="ref_tabname" property="refTabname" jdbcType="VARCHAR" />
		<result column="ref_id" property="refId" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_name" property="createName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Blob_Column_List">
		id, mnsc_id, ref_tabname,
		ref_id, sort, memo,
		create_date,
		create_by, create_name
	</sql>
	<insert id="insert" parameterType="cn.tianjin.unifiedfee.ot.entity.MnscRefSource">
		insert into ts_MNSC_ref_source
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="mnscId != null">
				mnsc_id,
			</if>
			<if test="refTabname != null">
				ref_tabname,
			</if>
			<if test="refId != null">
				ref_id,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="memo != null">
				memo,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createName != null">
				create_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="mnscId != null">
				#{mnscId,jdbcType=VARCHAR},
			</if>
			<if test="refTabname != null">
				#{refTabname,jdbcType=VARCHAR},
			</if>
			<if test="refId != null">
				#{refId,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=DATE},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createName != null">
				#{createName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update">
		update ts_MNSC_ref_source
		<set>
			<if test="mnscId != null">
				mnsc_id = #{mnscId},
			</if>
			<if test="refTabname != null">
				ref_tabname = #{refTabname},
			</if>
			<if test="refId != null">
				ref_id = #{refId},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="memo != null">
				memo = #{memo},
			</if>
			<if test="createDate != null">
				create_date = #{createDate},
			</if>
			<if test="createBy != null">
				create_by = #{createBy},
			</if>
			<if test="createName != null">
				create_name = #{createName},
			</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from ts_MNSC_ref_source
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteByMnscId" parameterType="java.lang.String">
		delete from
		ts_MNSC_ref_source
		where mnsc_id = #{mnscId}
	</delete>
	
  <select id="getDataListByMnscId" resultMap="BaseResultMap">
    select
    <include refid="Blob_Column_List" />
    from ts_MNSC_ref_source
    where
    mnsc_id = #{mnscId}
  </select>
</mapper>