<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tianjin.unifiedfee.ot.mapper.TmMapper" >
  <resultMap id="BaseResultMap" type="cn.tianjin.unifiedfee.ot.entity.Tm" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="tm_type" property="tmType" jdbcType="VARCHAR" />
    <result column="tm_html" property="tmHtml" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="diff_score" property="diffScore" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List">
    id, tm_type,tm_html,score,diff_score,create_date,create_by,create_name 
  </sql>
  <insert id="insert" parameterType="cn.tianjin.unifiedfee.ot.entity.Tm" >
    insert into q_TM (id, tm_type, tm_html, 
      score, diff_score,  
      create_by, create_name)
    values (#{id,jdbcType=VARCHAR}, #{tmType,jdbcType=VARCHAR}, #{tmHtml,jdbcType=VARCHAR}, 
      #{score,jdbcType=INTEGER}, #{diffScore,jdbcType=INTEGER},
      #{createBy,jdbcType=VARCHAR}, #{createName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tianjin.unifiedfee.ot.entity.Tm" >
    insert into q_TM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tmType != null" >
        tm_type,
      </if>
      <if test="tmHtml != null" >
        tm_html,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="diffScore != null" >
        diff_score,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tmType != null" >
        #{tmType,jdbcType=VARCHAR},
      </if>
      <if test="tmHtml != null" >
        #{tmHtml,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="diffScore != null" >
        #{diffScore,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update">
    update Q_tm
    <set>
     <if test="tmType != null" >
        tm_type = #{tmType},
      </if>
      <if test="tmHtml != null" >
        tm_html = #{tmHtml},
      </if>
      <if test="score != null" >
        score = #{score},
      </if>
      <if test="diffScore != null" >
        diff_score = #{diffScore},
      </if>             
      <if test="createBy != null" >
        create_by = #{createBy} ,
      </if>
      <if test="createName != null" >
        create_name = #{createName},
      </if>
    </set>
    where id = #{id}
  </update>
  <select id="getPageData" resultMap="BaseResultMap">
    select <include refid="Blob_Column_List" />
    from q_tm
    where 1=1
  </select>
  <select id="getTmListByObjInfo" resultMap="BaseResultMap" parameterType="Map">
   select a.id, a.tm_type, a.tm_html, a.score, a.diff_score, a.create_date, a.create_by, a.create_name
   from q_tm a, q_TM_ref_source b
   where b.tm_id=a.id and b.ref_tabName=#{refTabName} and b.ref_id=#{refId}
   order by a.diff_score desc, a.create_name desc
  </select>
</mapper>