<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tianjin.unifiedfee.ot.mapper.TmRefSourceMapper" >
  <resultMap id="BaseResultMap" type="cn.tianjin.unifiedfee.ot.entity.TmRefSource" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="tm_id" property="tmId" jdbcType="VARCHAR" />
    <result column="ref_tabname" property="refTabname" jdbcType="VARCHAR" />
    <result column="ref_id" property="refId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List">
		id, tm_id,ref_tabname,ref_id 
  </sql>
  <insert id="insert" parameterType="cn.tianjin.unifiedfee.ot.entity.TmRefSource" >
    insert into q_TM_ref_source (id, tm_id, ref_tabname, 
      ref_id)
    values (#{id,jdbcType=VARCHAR}, #{tmId,jdbcType=VARCHAR}, #{refTabname,jdbcType=VARCHAR}, 
      #{refId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tianjin.unifiedfee.ot.entity.TmRefSource" >
    insert into q_TM_ref_source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tmId != null" >
        tm_id,
      </if>
      <if test="refTabname != null" >
        ref_tabname,
      </if>
      <if test="refId != null" >
        ref_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tmId != null" >
        #{tmId,jdbcType=VARCHAR},
      </if>
      <if test="refTabname != null" >
        #{refTabname,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getBytmid" resultMap="BaseResultMap" parameterType="java.lang.String">
		select  a.id, tm_id,ref_tabname,ref_id ,b.kj_name refname
		 
		from q_tm_ref_source a,ts_kj b
		where a.tm_id = #{tmId,jdbcType=VARCHAR} and a.ref_id = b.id
  </select>  
  <delete id="deleteBytmid" parameterType="java.lang.String">
		delete from q_tm_ref_source
		where tm_id =
		#{tmId,jdbcType=VARCHAR}
  </delete>
  
</mapper>