<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>input</title>
<!-- 1 bootstrap基础css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css"
    rel="stylesheet">
<!-- 2 table表格css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css"
    rel="stylesheet">
<!-- 3 treeview树css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css"
    rel="stylesheet">
<!-- 4 datetimepicker时间选择css -->
<link
    href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet">
<!-- 5 select选择框css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css"
    rel="stylesheet">
<!-- 6 fileinput上传文件css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css"
    rel="stylesheet">
<!-- 7 icheck单选+多选css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css"
    rel="stylesheet">
<!-- 8 Validator验证css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css"
    rel="stylesheet">
<!-- 9 layer弹框css -->
<link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet">
<!-- 10 引入字体css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css"
    rel="stylesheet">
<!-- 11 页面样式css -->
<link href="${gateway}/src/css/pt-main.css" rel="stylesheet">

<!-- 优先引入jquery1.12.4版本 -->
<script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
<!-- 1 bootstrap基础js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- 2 table表格js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<!-- 2 table列表数据js 可删除？ -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
<!-- 3 treeview树js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
<!-- 4 datetimepicker时间选择js -->
<script
    src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<!-- 5 select选择框js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
<!-- 6 fileinput上传文件js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
<!-- 6 fileinput中文包js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
<!-- 7 icheck单选+多选js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
<!-- 8 Validator验证js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<!-- 9 layer弹框js -->
<script src="${gateway}/libs/layer/layer.js"></script>
<!-- 11 页面js -->
<script src="${gateway}/src/js/main.js"></script>
<style>
html {
    overflow: scroll;
}
</style>
</head>
<body>
<br>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-11 col-sm-12 col-xs-2 column">
            	  <form class="form-horizontal pt-form-full" role="form" id="form" name="form">                
                    <input type="hidden" name="id" id="objId">                    
                    <div class="col-lg-12 col-md-11 col-sm-11 col-xs-12">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="title"><span> ※ </span>题目内容</label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <textarea id="tmHtml" class="form-control" name="tmHtml"
                                    style="min-height: 108px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="dingjia"><span>※ </span>选择分类</label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <select id="tmType" name="tmType" class="selectpicker"
                                    onchange="classify(this)" data-live-search="true" title="请选择">
                                    <option value="单选题">单选题</option>
                                    <option value="多选题">多选题</option>
                                    <option value="判断题">判断题</option>
                                </select>
                            </div>

                            <label class="col-lg-1 col-md-1 col-sm-1 col-xs-6" for="title"><span>   ※ </span>分数</label>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <input type="text" class="form-control" name="score" id="score" />
                            </div>
                            <label class="col-lg-1 col-md-1 col-sm-1 col-xs-6" for="biaozhun">
                                <span> ※ </span>难度系数
                            </label>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <input type="text" class="form-control" name="diffScore"
                                    id="diffScore" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="biaozhun">
                                <span> ※ </span>所属课件内容
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="hidden" class="form-control" name="kjList"
                                    id="kjList" />
                                <textarea id="kjnameList" class="form-control" name="kjnameList"
                                    style="min-height: 60px"></textarea>
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-info"
                                    style="height: 30px; margin-right: 8px; line-height: 0px; float: left;"
                                    type="button" onclick="openKj()">+</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="biaozhun">
                                <span> ※ </span>所属模拟实操
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="hidden" class="form-control" name="mnscList"
                                    id="mnscList" />
                                <textarea id="mnscnameList" class="form-control"
                                    name="mnscnameList" style="min-height: 60px"></textarea>
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-info"
                                    style="height: 30px; margin-right: 8px; line-height: 0px; float: left;"
                                    type="button" onclick="openMnsc()">+</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12" id="xzanswer"
                        style="display: none;">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="answer">
                                <span> ※ </span>判断题答案
                            </label>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-6">
                                <label class="radio-inline"> <input type="radio"
                                    name="isAnswer" value="1"   checked> 正确
                                </label> <label class="radio-inline"> <input type="radio"
                                    name="isAnswer" value="2"  > 错误
                                </label>
                            </div>
                        </div>
                    </div>
                 </form>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" > 
	                		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			                     <button onclick="addTm()" id="baocun"
			                             class="btn w80  btn-default btn-primary">保存</button>
			                     <button class="btn w80  btn-default btn-default">取消</button>
		                     </div>
		                     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="selectbtn" style="display: none;">
			                     <button onclick="openAddSelect()" 
			                            class="btn w80  btn btn-info" >添加</button>	                 
		                     </div>              
                       </div>
           		    </div>         
	            <div class="pt-main" id = "pt-main">
	                <!--bootstrap 表格-->
	                <div class="row">
	                    <div class="col-lg-12 col-md-10 col-sm-11 col-xs-12" >
	                        <div class="table-wrap" >
	                        	<br>
	                            <table id="tb_departments"></table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>

    <br>
    <script>
    //table
    // 2.返回操作模版[按钮颜色暂不确定]
    function operateFormatter(value, row, index) {
      return [
          '<button type="button" class="RoleOfedit btn btn-xs btn-default btn-link" onclick=editItem("'
              + value + '")>修改</button>',
          '<button type="button" class="RoleOfdelete btn btn-xs btn-default btn-link-red" onclick=deleteItem("'
              + value + '")>删除</button>' ].join('');
    }

    $(function() {
      //icheck 单选多选
      $('input').iCheck({
        radioClass : 'iradio_square-blue',
        increaseArea : '20%' // optional
      });      
      //获取参数
      var url = location.search;
      if (url != '') {
        //变成修改
        $("#baocun").attr("onclick", "editTm()");
        url = url.substr(1);
        var split = url.split("=");
        split=split[1].substring(0,32);
        $.ajax({
          type : 'post',
          url : "${gateway}/st/get",
          data : {
            "id" : split
          },
          dataType : 'json',
          cache : false,
          success : function(data) {
            var tm = data.data;
            $("#objId").val(tm.id);
            $("#tmHtml").val(tm.tmHtml);
            $("#tmType").selectpicker('val', tm.tmType);
            $("#score").val(tm.score);
            $("#diffScore").val(tm.diffScore);
            $("#kjList").val(tm.kjList);
            $("#mnscList").val(tm.mnscList);
            $("#kjnameList").val(tm.kjnameList);
            $("#mnscnameList").val(tm.mnscnameList);         
            if (tm.tmType=="判断题"){
            	document.getElementById("xzanswer").style.display = "block";
            	if (tm.isAnswer == 2)
                	$("input:radio[name='isAnswer'][value='2']").attr("checked", true);
        		else
        		    $("input:radio[name='isAnswer'][value='1']").attr("checked", true);
            	document.getElementById("selectbtn").style.display = "none";
                document.getElementById("pt-main").style.display = "none";
            }else{
                document.getElementById("selectbtn").style.display = "block";
                document.getElementById("pt-main").style.display = "block";
                document.getElementById("xzanswer").style.display = "none";
            }    
            getDetailData(split);
          },
          error : function() { //失败回调函数
            alert("获取信息失败");
          }
        });
      }
    });
    $('form').bootstrapValidator({
      message: 'This value is not valid',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        mnscList: {
          message: '模拟实操不能为空',
          validators: {
            notEmpty: {
              message: '分类名称不能为空'
            }
          }
        },
        sort: {
          message: '分类排序验证失效',
          validators: {
            notEmpty: {
              message: '必须录入排序号'
            },
            regexp: {
              regexp: "^[0-9][0-9]*$",
              message: '排序号必须为自然数'
            }
          }
        }
      }
    });
    function getDetailData(tmId) {
      TableInit().Init('${gateway}/st/getselctData?id=' + tmId, [ {
        checkbox : true
      }, {
        field : 'tmSelectSign',
        title : '选项标号',
        sortable : true
      }, {
        field : 'tmSelectDesc',
        title : '选项描述',
        sortable : true
      }, {
        field : 'sort',
        title : '显示顺序',
        sortable : true
      }, {
        field : 'isAnswer',
        title : '是否答案',
        sortable : true
      }, {
        field : 'id',
        title : '操作',
        formatter : operateFormatter
      } ]);
    }
    

    function addTm() {
      
      var validatorObj=$('#form').data("bootstrapValidator");     
      validatorObj.validate();
    
      $.ajax({
        type : 'post',
        url : "${gateway}/st/insert",
        data : $("#form").serialize(),
        dataType : 'json',
        cache : false,
        success : function(data) {
          if (data.resultCode=='00') {
            location.href='${gateway}/st/edit?id='+data.id;
          } else {
            layer.error("添加失败");
          }
        },
        error : function() { //失败回调函数
          alert("保存成功");
          //parent.refresh();
         // closeMy();
         
        }
      });  
    }   
    
    function editTm() {
      $.ajax({
        type : 'post',
        url : "${gateway}/st/update",
        data : $("#form").serialize(),
        dataType : 'json',
        cache : false,
        success : function(data) {
          alert("保存成功");          
        },
        error : function() { //失败回调函数
          alert("保存成功");
         
        }
      });
    }    
    function closeMy() {
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
      parent.layer.close(index); //再执行关闭
    }
    function openKj() {     
      layer.open({
        type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
        title : '<span class="text-color">选择课件</span>',//请修改span中间的内容
        shadeClose : true,//开启阴影关闭
        closeBtn : 1, //不显示关闭按钮
        shade : 0.6,
        maxmin : false,//开启最大化最小化按钮
        area : [ '80%', '90%' ],//此处可以改为100%，该数值按UI图比例算出
        content : [ '${gateway}/kj/list4st?type=checkbox', 'yes' ]
      //如果不想出现滚动条['content.html', 'no']
      });
    }
    function openMnsc() {
      layer.open({
        type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
        title : '<span class="text-color">选择模拟实操</span>',//请修改span中间的内容
        shadeClose : true,//开启阴影关闭
        closeBtn : 1, //不显示关闭按钮
        shade : 0.6,
        maxmin : false,//开启最大化最小化按钮
        area : [ '80%', '90%' ],//此处可以改为100%，该数值按UI图比例算出
        content : [ '${gateway}/mnsc/list4st?type=checkbox', 'yes' ]
      //如果不想出现滚动条['content.html', 'no']
      });
    }
    function openAddSelect() {
      layer.open({
        type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
        title : '<span class="text-color">添加选项及答案</span>',//请修改span中间的内容
        shadeClose : true,//开启阴影关闭
        closeBtn : 1, //不显示关闭按钮
        shade : 0.6,
        maxmin : false,//开启最大化最小化按钮
        area : [ '90%', '80%' ],//此处可以改为100%，该数值按UI图比例算出
        content : [ '${gateway}/st/selectEdit?id='+$("#objId").val(), 'no' ]
      //如果不想出现滚动条['content.html', 'no']
      });
    }
    function setVal(_valList, _vanamelList) {
      $("#kjList").val(_valList);
      $("#kjnameList").val(_vanamelList);
    }
    function setValmnsc(_valList, _vanamelList) {
      $("#mnscList").val(_valList);
      $("#mnscnameList").val(_vanamelList);
    }
    function classify(obj) {
      if (obj.selectedIndex == 3) {
        document.getElementById("xzanswer").style.display = "block";
      } else {
        document.getElementById("xzanswer").style.display = "none";
      }
      if (obj.selectedIndex == 1) {
        if (document.getElementById("objId").value==""){
        	document.getElementById("selectbtn").style.display = "none";
        }else{
          document.getElementById("selectbtn").style.display = "block";
        }        
        document.getElementById("pt-main").style.display = "block";
      } else if (obj.selectedIndex == 2) {
        if (document.getElementById("objId").value==""){
        	document.getElementById("selectbtn").style.display = "none";
        }else{
          document.getElementById("selectbtn").style.display = "block";
        }
        document.getElementById("pt-main").style.display = "block";
      } else {
        document.getElementById("selectbtn").style.display = "none";
        document.getElementById("pt-main").style.display = "none";
      }
    }
    function editItem(e) {
      layer.open({
      type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
      title : '<span class="text-color">修改选项信息</span>',//请修改span中间的内容
      shadeClose : true,//开启阴影关闭
      closeBtn : 1, //不显示关闭按钮
      shade : 0.6,
      maxmin : false,//开启最大化最小化按钮
      area : [ '90%', '80%' ],//此处可以改为100%，该数值按UI图比例算出
      content : ['${gateway}/st/selectEdit?id='+e,'no']//如果不想出现滚动条['content.html', 'no']  
    });
  }
  function deleteItem(e) {
      var data = {
        "id" : e
      }
      var mymessage = confirm("确定要删除该信息吗？");
      if (mymessage == true) {
        $.ajax({
          type : 'post',
          url : "${gateway}/st/deleteSelect",
          data : data,
          dataType : 'json',
          cache : false,
          success : function(data) {
            $("#tb_departments").bootstrapTable('refresh');
          },
          error : function() { //失败回调函数
            alert("删除失败");
          }
        });
      } else if (mymessage == false) {
        return false;
      }
    }
  function refresh() {
    $("#tb_departments").bootstrapTable('refresh');
  }
  </script>
</body>
</html>