body {
  background: #f2f2f2;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
._gap{
  width: 1200px;
  height: 60px;
  margin: 20px auto 5px;
  background-color: white;
  line-height: 60px;
}
._gap span{
  margin-left: 26px;
  font-size: 16px;
  font-weight: bold;
}
._gap .border{
  width: 70px;
  height:4px;
  background-color:#2d65c2 ;
  margin-left:21px;
  margin-top: -5px;
  border: none;
}
.box {
  width: 1200px;
  margin: 0 auto;
}
.tlkc {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  height: 60px;
  line-height: 60px;
}
.tlkc span {
  border-bottom: 4px solid #2E66BD;
  padding-bottom: 18px;
}
.bgs {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
}
.con-box {
  background: #fff;
  margin-top: 0px;
}
.inp-box {
  display: -webkit-box;
  display: -ms-box;
  display: -moz-box;
  display: -o-box;
  padding: 20px 30px 15px 30px;
  line-height: 25px;
  border-bottom: 1px solid #f2f2f2;
  padding-top: 30px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: auto;
}
.btn {
  padding: 3px 12px;
}
.txt {
  margin-right: 10px;
}
.inp {
  margin-right: 20px;
}
.scsj-btn {
  width: 90px;
  margin-top:-5px;
  height: 35px;
  line-height: 35px;
  background: #2e66bd;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}
.widget-sider input {
  height: 25px;
}
.widget-sider {
  width: 220px;
  margin-right: 20px;
}
.nums {
  height: 25px;
  text-align:right;
}
.empty {
  width: 20%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.emptyMsg {
  text-align: center;
}
.topic-list {
  padding-left: 40px;
  line-height: 28px;
}
.lxt {
  display: none;
  font-size: 20px;
  color: #148bff;
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 30px;
  font-weight:bold
}
.topic-list p {
  padding-left: 15px;
  font-size: 16px;
}
.topic-list li {
  margin-bottom: 10px;
  font-size: 16px;
}
.topic-list input {
  margin-right: 10px;
  font-size: 16px;
}
.topic-box {
  position: relative;
  padding-bottom: 30px;
}
.num-box {
  position: absolute;
  right: 30px;
  top: 20px;
  display: -webkit-box;
  display: -ms-box;
  display: -moz-box;
  display: -o-box;
}
table {
  border-collapse: collapse;
  margin-right: 1px;
}
table td {
  border: 1px solid #95bce2;
  text-align: center;
}
.times {
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  color: #fff;
  background: #fb8201;
  font-size: 18px;
  position: relative;
  bottom: 30px;
  margin:0 auto;
  display: none;
  cursor: pointer;
  margin-top:60px;
}
.sub-btn {
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  color: #fff;
  background: #2e66bd;
  font-size: 18px;
  position: relative;
  bottom: 50px;
  margin:0 auto;
  display: none;
  cursor: pointer;
  margin-top:80px;
}
table.sample th {   background: #3e83c9;    color: #fff;    font-weight: bold;  padding: 2px 11px;  text-align: left;   border-right: 1px solid #fff;   line-height: 1.2;}
table.sample td {   
    border-bottom: 1px solid #95bce2;
}
.ndda {
  margin-left: 10px;
  color: red;
}
.title{
  font-size:16px;
  margin-bottom:8px;
  font-family:'Microsoft YaHei';
}
.zts {
  border-right:1px solid #3e83c9;
}