.container-fluid {
  margin: 0;
  padding: 0;
}
.con {
  border-radius:5px;
  overflow: hidden;
  font-family:Microsoft YaHei;
  cursor:pointer;
}
.listbox {
  padding-top: 30px;
  margin: 0 auto;
  margin-left:5px;
}
.listbox::after {
  content:"";
  display: block;
  clear: both;
}
.listbox li {
  overflow: hidden;
  margin-bottom: 20px;
  float: left;
  width: 300px;
  margin-left: 30px;
}
.btns {
  width: 80%;
  background: #f46227;
  color: #fff;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 26px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
}
.listbox .botoom {
  background: #f8f8f8;
  padding-bottom: 40px;
}
.listbox h2 {
  height: 50px;
  line-height: 50px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin: 0 15px;
  width: 290px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;
  font-family:Microsoft YaHei;
}
.listbox p {
  text-align: center;
  height: 26px;
  line-height: 26px;
}
.time {
  text-align: right;
}
.glyphicon {
  margin-right: 5px;
}
.tag-box {
  height: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  border-bottom: 2px solid #abc3cf;
}
.tag-box li {
  cursor: pointer;
  float: left;
  margin-right: 55px;
  margin-left: 15px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color:#C3C3C3;
  font-family:Microsoft YaHei;
}
.tag-box li:last-of-type {
  margin-right: 0;
}
.tag-box li.on {
  font-weight: bold;
  border-bottom: 3px solid #2e66bd;
  color:black;
}
.search-box {
  width: 600px;
  margin: 0 auto;
  margin-left: 150px;
}
.input-group-addon:last-child {
  background: #2e66bd;
  color: #fff;
  padding: 10px 45px;
  cursor: pointer;
}
.row-box {
  padding: 0 10px;
  font-size: 14px;
  font-family:Microsoft YaHei;
}
.row-box .left{
  float: left;
  margin-left: 10px;
}
.row-box .right {
  float: right;
  margin-right: 10px;
}
.eay {
  display: inline-block;
  width: 15px;
  vertical-align: 1px;
  margin-right: 10px;
}
.pic {
  width: 300px;
  height: 220px;
  overflow: hidden;
}
.pic img {
  width: 300px;
  height: 220px;
}