<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>input</title>
<!-- 1 bootstrap基础css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap.css"
	rel="stylesheet">
<!-- 2 table表格css -->
<link
	href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css"
	rel="stylesheet">
<!-- 3 treeview树css -->
<link
	href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css"
	rel="stylesheet">
<!-- 4 datetimepicker时间选择css -->
<link
	href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
<!-- 5 select选择框css -->
<link
	href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrap-select.css"
	rel="stylesheet">
<!-- 6 fileinput上传文件css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/fileinput.min.css"
	rel="stylesheet">
<!-- 7 icheck单选+多选css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/css/icheck-blue.css"
	rel="stylesheet">
<!-- 8 Validator验证css -->
<link
	href="${gateway}/libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css"
	rel="stylesheet">
<!-- 9 layer弹框css -->
<link href="${gateway}/libs/layer/layer-new.css" rel="stylesheet">
<!-- 10 引入字体css -->
<link href="${gateway}/libs/bootstrap-3.3.7-dist/fonts/iconfont.css"
	rel="stylesheet">
<!-- 11 页面样式css -->
<link href="${gateway}/src/css/pt-main.css" rel="stylesheet">

<!-- 优先引入jquery1.12.4版本 -->
<script src="${gateway}/libs/jquery/jquery-1.12.4.js"></script>
<!-- 1 bootstrap基础js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- 2 table表格js -->
<script
	src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<!-- 2 table列表数据js 可删除？ -->
<script
	src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
<!-- 3 treeview树js -->
<script
	src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
<!-- 4 datetimepicker时间选择js -->
<script
	src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<!-- 5 select选择框js -->
<script
	src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
<!-- 6 fileinput上传文件js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
<!-- 6 fileinput中文包js -->
<script
	src="${gateway}/libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
<!-- 7 icheck单选+多选js -->
<script src="${gateway}/libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
<!-- 8 Validator验证js -->
<script
	src="${gateway}/libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<!-- 9 layer弹框js -->
<script src="${gateway}/libs/layer/layer.js"></script>
<!-- 11 页面js -->
<script src="${gateway}/src/js/main.js"></script>
<style>
html {
	overflow-x: hidden;
	overflow-y: auto;
}
</style>
</head>
<body>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
				<form class="form-horizontal pt-form-full" role="form" id="form">
					<input type="hidden" name="id" id="objId"> <input
						type="hidden" name="kjids" id="kjids">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="title"><span>
									※ </span>名&emsp;称</label>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
								<input type="text" class="form-control" name="mnscName"
									id="mnscName" />
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2" for="title"><span>
									※ </span>分&emsp;类</label>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<div class="input-group">
									<select id="mnscCatId" name="mnscCatId" class="form-control"
										title="请选择" onchange="selOnchange()">
										<option value="1">法规类</option>
										<option value="2">政策类</option>
										<option value="3">收费类</option>
										<option value="4">放行类</option>
										<option value="5">理货类</option>
										<option value="6">出口类</option>
										<option value="7">进口类</option>
									</select> <input type="hidden" class="form-control" name="mnscCatNames"
										id="mnscCatNames" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="title"><span>
									※ </span>地&emsp;址</label>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
								<input type="text" class="form-control" name="mnscUrl"
									id="mnscUrl" />
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="title"><span>
									※ </span>状&emsp;态</label>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
								<label class="radio-inline"> <input type="radio"
									name="isvalid" value="1" checked>启用
								</label> <label class="radio-inline"> <input type="radio"
									name="isvalid" value="0">停用
								</label>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="title">&emsp;排&emsp;序</label>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
								<input type="text" class="form-control" name="sort" id="sort"
									value="100" />
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="col-lg-2 col-md-2 col-sm-2 col-xs-6" for="biaozhun">&emsp;说&emsp;明</label>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
								<textarea id="remarks" class="form-control" name="remarks"
									style="min-height: 108px"></textarea>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Bshow">
						<div class="form-group">
							<label class="col-lg-2 col-md-2 col-sm-2 col-xs-6"><span
								class="cfff"> ※ </span>缩略图</label>
							<div class="col-lg-8col-md-8 col-sm-8 col-xs-6">
								<input id="file-1" type="file" multiple class="file"
									name="files" data-overwrite-initial="false"
									data-min-file-count="1"><b>(注：请上传229x174，大小在2M以内的缩略图，支持格式：jpg,gif,png,jpeg)</b>
							</div>
						</div>
					</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
                      <div class="form-group">
                        <label class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-top:5px;text-align:left;border-top:1px solid #cecece;">课件列表</label>
                      </div>
                    </div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
								<table class="table table-striped" id="theTable">
									<tr>
										<th>名称</th>
										<th>分类</th>
										<th>创建人</th>
										<th>创建时间</th>
										<th><span class="glyphicon glyphicon-plus"
											aria-hidden="true" onclick="selectItem()"></span></th>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</form>
				<div class="form-group pt-btn-submit-layer">
					<button onclick="addMnsc()" id="baocun"
						class="btn w160 btn-lg btn-default btn-primary">保存</button>
					<button class="btn w160 btn-lg btn-default btn-default"
						onclick="closeMy()">取消</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<script>
    //附件相关
    var imgJson = new Array();
    if ("${imgJson}" != '') {
      imgJson[imgJson.length] = "${imgJson}";
    }
    $(function() {
      //icheck 单选多选
      $('input').iCheck({
        radioClass : 'iradio_square-blue',
        increaseArea : '20%' // optional
      });
      $(".dropdown-menu").on('click', function(e) {
        e.stopPropagation();
      });
      //获取参数
      var url = location.search;
      if (url != '') {
        //变成修改
        $("#baocun").attr("onclick", "editMnsc()");
        url = url.substr(1);
        var split = url.split("=");
        $
            .ajax({
              type : 'post',
              url : "${gateway}/mnsc/get",
              data : {
                "id" : split[1]
              },
              dataType : 'json',
              cache : false,
              success : function(data) {
                var html = '<tr>'
                    + '<th>课件名称</th>'
                    + '<th>分类名称</th>'
                    + '<th>创建人</th>'
                    + '<th>创建时间</th>'
                    + '<th><span class="glyphicon glyphicon-plus" aria-hidden="true" onclick="selectItem()"></span></th>'
                    + '</tr>';
                var mnsc = data.data;
                $("#objId").val(mnsc.id);
                $("#mnscName").val(mnsc.mnscName);
                $("#mnscUrl").val(mnsc.mnscUrl);
                $("input[type=radio][name=isvalid]").each(function (i, e) {
                  if ($(this).val()==mnsc.isvalid) $(this).iCheck('check');
                });
                $("#sort").val(mnsc.sort);
                $("#remarks").val(mnsc.remarks);
                $("#mnscCatId").val(mnsc.mnscCatId);
                $("#mnscCatId").find("option[value='" + mnsc.mnscCatId + "']")
                    .attr("selected", true);
                $("#mnscCatNames").val(mnsc.mnscCatNames);
                //获取相关课件列表
                $("#kjids").val(mnsc.kjids);
                var dataList = mnsc.kjs;
                if (dataList != null) {
                  for (var i = 0; i < dataList.length; i++) {
                    html += '<tr>'
                        + '<td>'
                        + dataList[i].kjName
                        + '</td>'
                        + '<td>'
                        + dataList[i].kjCatNames
                        + '</td>'
                        + '<td>'
                        + dataList[i].createName
                        + '</td>'
                        + '<td>'
                        + dataList[i].createdate
                        + '</td>'
                        + '<th onclick="removeTr(this)" thisval="'
                        + dataList[i].id
                        + '"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></th>'
                        + '</tr>';
                  }
                  $("#theTable").html(html);
                }
              },
              error : function() { //失败回调函数
                alert("获取信息失败");
              }
            });
      }
      //校验必填项
      $('form').bootstrapValidator({
        message : 'This value is not valid',
        feedbackIcons : {
          valid : 'glyphicon glyphicon-ok',
          invalid : 'glyphicon glyphicon-remove',
          validating : 'glyphicon glyphicon-refresh'
        },
        fields : {
          mnscName : {
            message : '名称验证失败',
            validators : {
              notEmpty : {
                message : '名称不能为空'
              }
            }
          },
          mnscCatNames : {
            message : '分类验证失败',
            validators : {
              notEmpty : {
                message : '分类不能为空'
              }
            }
          },
          mnscUrl : {
            message : '地址验证失败',
            validators : {
              notEmpty : {
                message : '地址不能为空'
              }
            }
          }
        }
      });
      // 时间选择
      $('.datetimepicker').datetimepicker({
        language : 'zh', // 语言选择
        format : 'yyyy-mm-dd hh:ii:ss', // 选择格式
        todayBtn : true,
        autoclose : true
      });
      $('.aaa .datetimepicker-dropdown-bottom-right').css('margin-top', '0px')
      //icheck 单选多选
      $('input').iCheck({
        checkboxClass : 'icheckbox_square-blue',
        radioClass : 'iradio_square-blue',
        increaseArea : '20%' // optional
      });
      $("input:radio[name='wenjian']").on('ifChecked', function(event) {
        if ($(this).val() == 'option1') {
          $('.Bshow').addClass('disnone')
        } else {
          $('.Bshow').removeClass('disnone')
        }
      });
    });

    function selOnchange() {
      var value = $("#mnscCatId  option:selected").text();
      $("#mnscCatNames").val(value);
    }

    function addMnsc() {
      var validatorObj = $('#form').data("bootstrapValidator");
      var aa = validatorObj.validate();
      var flag = validatorObj.isValid();
      if (!flag)
        return;
      $.ajax({
        type : 'post',
        url : "${gateway}/mnsc/insert",
        data : $("#form").serialize(),
        dataType : 'json',
        cache : false,
        success : function(data) {
          //上传附件
          var objId = data.objId;
          if (objId != '') {
            $("#objId").val(objId);
            setTimeout(function() {
              $("#file-1").fileinput('upload');
              parent.refresh();
              closeMy();
            }, 500);
          }
        },
        error : function() { //失败回调函数
          parent.refresh();
          closeMy();
        }
      });
    }
    function editMnsc() {
      $.ajax({
        type : 'post',
        url : "${gateway}/mnsc/update",
        data : $("#form").serialize(),
        dataType : 'json',
        cache : false,
        success : function(data) {
          parent.refresh();
          closeMy();
        },
        error : function() { //失败回调函数
          parent.refresh();
          closeMy();
        }
      });
    }
    function closeMy() {
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
      parent.layer.close(index); //再执行关闭
    }
    //选择摸拟实操-摸拟实操列表
    function selectItem() {
      var kjIds = $("#kjids").val();
      layer.open({
        type : 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
        title : '<span class="text-color">选择课件列表</span>',//请修改span中间的内容
        shadeClose : true,//开启阴影关闭
        closeBtn : 1, //不显示关闭按钮
        shade : 0.6,
        maxmin : false,//开启最大化最小化按钮
        area : [ '80%', '80%' ],//此处可以改为100%，该数值按UI图比例算出
        content : '${gateway}/kj/selList?kjIds=' + kjIds//如果不想出现滚动条['content.html', 'no']
      });
    }
    //把选择的课件列表放到表格中
    function setKj(ids) {
      var kjIds = $("#kjids").val();
      if (kjIds == '') {
        kjIds = ids;
      } else {
        //正对比
        var kjid = '';
        var split = ids.split(",");
        for (var i = 0; i < split.length; i++) {
          var id = split[i];
          if (kjIds.indexOf(id) == -1) {
            kjid += "," + id;
          }
        }
        kjIds = kjIds + kjid;
      }
      $("#kjids").val(kjIds);
      //处理显示
      $
          .ajax({
            type : 'post',
            url : "${gateway}/kj/getDataList",
            data : {
              "ids" : kjIds
            },
            dataType : 'json',
            cache : false,
            success : function(data) {
              var html = '<tr>'
                  + '<th>课件名称</th>'
                  + '<th>分类名称</th>'
                  + '<th>创建人</th>'
                  + '<th>创建时间</th>'
                  + '<th><span class="glyphicon glyphicon-plus" aria-hidden="true" onclick="selectItem()"></span></th>'
                  + '</tr>';
              var dataList = data.dataList;
              for (var i = 0; i < dataList.length; i++) {
                html += '<tr>'
                    + '<td>'
                    + dataList[i].kjName
                    + '</td>'
                    + '<td>'
                    + dataList[i].kjCatNames
                    + '</td>'
                    + '<td>'
                    + dataList[i].createName
                    + '</td>'
                    + '<td>'
                    + dataList[i].createdate
                    + '</td>'
                    + '<th onclick="removeTr(this)" thisval="'
                    + dataList[i].id
                    + '"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></th>'
                    + '</tr>';
              }
              $("#theTable").html(html);
            },
            error : function() { //失败回调函数
              alert("查询失败")
            }
          });
    }
    //删除一整行
    function removeTr(obj) {
      //去掉该ID
      //获取所有课件id
      var kjIds = $("#kjids").val();
      //获取当前要删掉的课件id
      var kjid = $(obj).attr("thisval");
      //替换
      var ides = kjIds.replace(kjid, "");
      var idess = ides.split(",");
      var zhids = '';
      for (var i = 0; i < idess.length; i++) {
        if (idess[i] != '') {
          zhids += "," + idess[i];
        }
      }
      if (zhids != '') {
        zhids = zhids.substr(1);
      }
      $("#kjids").val(zhids);
      //删除行
      $(obj).parent().remove();
    }
    $("#file-1").fileinput({
      theme : "explorer", //主题
      language : 'zh',
      uploadUrl : "../file/upload",// 上传请求路径
      allowedFileExtensions : [ 'jpg', 'gif', 'png', 'jpeg' ],//允许上传的文件后缀       
      uploadAsync : false, //是否允许异步上传
      showUpload : false,//是否显示上传按钮
      showCaption : false,//是否显示容器
      dropZoneEnabled : false,//是否显示拖拽区域 
      removeFromPreviewOnError : true,//是否移除校验文件失败的文件
      uploadExtraData : function(previewId, index) { //额外参数 返回json数组  
        var objId = $("#objId").val();
        return {
          'objId' : objId,
          'objTabname' : 'ts_mnsc',
          'archiveType' : 'img'
        // commId 为全局变量，可以给控件上传额外参数  
        };
      },
      layoutTemplates : { //取消上传按钮
        actionUpload : '',
      },
      showPreview : true, //显示预览   
      minFileCount : 1, //最低文件数量
      maxFileCount : 1, //最多文件数量
      maxFileSize : 0, //允许文件上传大小
      overwriteInitial : false,
      initialPreview : imgJson,//['<img src="http://1.202.219.107:8082/ot-server/ot/image/111.jpg" class="file-preview-image">'], //显示图片
      previewFileIcon : '<i class="fa fa-file"></i>',
      initialPreviewAsData : true, // defaults markup  
      preferIconicPreview : false, // 是否优先显示图标  false 即优先显示图片
      previewFileIconSettings : { // configure your icon file extensions
        'pdf' : '<i class="fa fa-file-pdf-o text-danger"></i>',
        'jpg' : '<i class="fa fa-file-photo-o text-danger"></i>',
        'gif' : '<i class="fa fa-file-photo-o text-muted"></i>',
        'png' : '<i class="fa fa-file-photo-o text-primary"></i>',
        'jpeg' : '<i class="fa fa-file-photo-o text-primary"></i>'
      },
    });
  </script>
</body>
</html>