<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <!-- 1 bootstrap基础css -->
<link href="../libs/bootstrap-3.3.7-dist/css/bootstrap.css"
	rel="stylesheet">
<!-- 2 table表格css -->
<link href="../libs/bootstrap-3.3.7-dist/css/bootstrap-table.min.css"
	rel="stylesheet">
<!-- 3 treeview树css -->
<link href="../libs/bootstrap-3.3.7-dist/css/bootstrap-treeview.min.css"
	rel="stylesheet">
<!-- 4 datetimepicker时间选择css -->
<link
	href="../libs/bootstrap-3.3.7-dist/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet">
<!-- 5 select选择框css -->
<link href="../libs/bootstrap-3.3.7-dist/css/bootstrap-select.css"
	rel="stylesheet">
<!-- 6 fileinput上传文件css -->
<link href="../libs/bootstrap-3.3.7-dist/css/fileinput.min.css"
	rel="stylesheet">
<!-- 7 icheck单选+多选css -->
<link href="../libs/bootstrap-3.3.7-dist/css/icheck-blue.css"
	rel="stylesheet">
<!-- 8 Validator验证css -->
<link href="../libs/bootstrap-3.3.7-dist/css/bootstrapValidator.min.css"
	rel="stylesheet">
<!-- 9 layer弹框css -->
<link href="../libs/layer/layer-new.css" rel="stylesheet">
<!-- 10 引入字体css -->
<link href="../libs/bootstrap-3.3.7-dist/fonts/iconfont.css"
	rel="stylesheet">
<!-- 11 页面样式css -->
<link href="../src/css/pt-main.css" rel="stylesheet">

<!-- 优先引入jquery1.12.4版本 -->
<script src="../libs/jquery/jquery-1.12.4.js"></script>
<!-- 1 bootstrap基础js -->
<script src="../libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- 2 table表格js -->
<script src="../libs/bootstrap-3.3.7-dist/js/bootstrap-table.min.js"></script>
<!-- 2 table列表数据js 可删除？ -->
<script src="../libs/bootstrap-3.3.7-dist/js/bootstrap-table-data.js"></script>
<!-- 3 treeview树js -->
<script src="../libs/bootstrap-3.3.7-dist/js/bootstrap-treeview.js"></script>
<!-- 4 datetimepicker时间选择js -->
<script
	src="../libs/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js"></script>
<!-- 5 select选择框js -->
<script src="../libs/bootstrap-3.3.7-dist/js/bootstrap-select.min.js"></script>
<!-- 6 fileinput上传文件js -->
<script src="../libs/bootstrap-3.3.7-dist/js/fileinput.min.js"></script>
<!-- 6 fileinput中文包js -->
<script src="../libs/bootstrap-3.3.7-dist/js/fileinput_locale_zh.js"></script>
<!-- 7 icheck单选+多选js -->
<script src="../libs/bootstrap-3.3.7-dist/js/icheck.min.js"></script>
<!-- 8 Validator验证js -->
<script src="../libs/bootstrap-3.3.7-dist/js/bootstrapValidator.min.js"></script>
<!-- 9 layer弹框js -->
<script src="../libs/layer/layer.js"></script>
<!-- 11 页面js -->
<script src="../src/js/main.js"></script>
</head>
<body>
<div class="pt-page">
    <div class="pt-root-container">
        <!--主视口 -->
        <div class="pt-view pt-open" style="padding-left:10px;padding-bottom:0px;">
            <!--带横线标题-->            
            <div class="pt-main pt-padding">
                <!--搜索条-->
                <div class="pt-section-search">
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-11 col-xs-10 column">
                            <form class="form-inline">
                                <!-- 示例 input-->
                                <div class="col-lg-8 col-md-8 col-sm-11 col-xs-10">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-1 col-xs-1" for="exampleInputName2">模拟实操</label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5">
                                            <input type="text" class="form-control" id="exampleInputName2" placeholder="模拟实操课件名称">
                                        </div>                                                                   
	                                <!-- 示例搜索按钮 -->
		                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">		                                   
		                                     <button type="button" class="btn btn-default btn-primary w80">搜索</button>
		                                     <button type="button" class="btn w80 btn-default btn-primary" onclick="addMnsc()">添加</button>   
		                                    
		                                </div>
	                                </div> 
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
                <!--内容区容器-->
                <div class="pt-main">
                    <!--bootstrap 表格-->
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7">
                            <div class="table-wrap">
                                <table id="tb_departments"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--主视口 结束-->
    </div>
</div>

<script src="./src/js/pt-tree.js"></script>
<script>
// 时间选择
$('.datetimepicker').datetimepicker({
    language : 'zh',
    format : 'yyyy-mm-dd hh:ii:ss',
    todayBtn : true,
    autoclose : true
});
//搜索扩展
$("#ptsearchfilter").click(function() {
    $(this).text($(".hiddenorshow").is(":hidden") ? "收起" : "展开");
    $(".hiddenorshow").toggleClass('pt-search-filter');
});
// table
// 2.返回操作模版[按钮颜色暂不确定]
function operateFormatter(value, row, index) {
    return [
        '<button type="button" class="RoleOflook btn btn-xs btn-default btn-link" onclick="lookItem('+index+')">查看</button>',
        '<button type="button" class="RoleOfedit btn btn-xs btn-default btn-link" onclick="editItem('+index+')">修改</button>',
        '<button type="button" class="RoleOfdelete btn btn-xs btn-default btn-link-red" onclick="deleteItem('+index+')">删除</button>'
    ].join('');
}

// 操作模版调用的方法


function closeMy() {
  var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
  parent.layer.close(index); //再执行关闭
}
function addMnsc(){
  var mnscList= $("#tb_departments").bootstrapTable('getSelections');
  var idList=[];
  var nameList=[];
  if(mnscList.length<=0){  
    alert("请选中一行")  
  }else{
    for (var i=0;i<mnscList.length;i++){
      idList[i]=mnscList[i].id;
      nameList[i]=mnscList[i].mnscName;      
    }      
  }
  parent.setValmnsc(idList,nameList);   
  closeMy();
}
TableInit().Init('../../mnsc/getPageData',
[
  {
    checkbox: true       
},{
  field: 'mnscName',
  title: '课件名称',
  sortable: true
},{
  field: 'mnscCatNames',
  title: '分类名称',
  sortable: true
},{
  field: 'mnscUrl',
  title: 'URL地址',
  sortable: true
},{
  field: 'expireDate',
  title: '过期时间',
  sortable: true
}]);
function refresh() {
  $("#tb_departments").bootstrapTable('refresh');
}
</script>
</body>
</html>